In [1]:
import pandas as pd
import os


dir_path = "dataset\\rent_price\\Seoul"
file_list = os.listdir(dir_path)
df_list = list()

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for csv_file in file_list:
    df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))

C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))
C:\Users\LG\AppData\Local\Temp\ipykernel_55656\1117171307.py:11: DtypeWarning: Columns (10,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list.append(pd.read_csv(dir_path+"\\"+csv_file ,skiprows=15,  encoding='cp949'))

In [2]:
df_list[-1].info() # 리스트 안에 잘 담겼는지 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231846 entries, 0 to 231845
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구            231846 non-null  object
 1   번지             231657 non-null  object
 2   본번             231819 non-null  float64
 3   부번             231819 non-null  float64
 4   단지명            231846 non-null  object
 5   전월세구분          231846 non-null  object
 6   전용면적(㎡)        231846 non-null  float64
 7   계약년월           231846 non-null  int64
 8   계약일            231846 non-null  int64
 9   보증금(만원)        231846 non-null  object
 10  월세(만원)         231846 non-null  object
 11  층              231846 non-null  int64
 12  건축년도           231749 non-null  float64
 13  도로명            231846 non-null  object
 14  계약기간           231846 non-null  object
 15  계약구분           231846 non-null  object
 16  갱신요구권 사용       231846 non-null  object
 17  종전계약 보증금 (만원)  188985 non-null  object
 18  종전계약 월세 (만원)   188985 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 33.6+ MB

In [3]:
# 모든 데이터프레임을을 통합
df_default = df_list[0]
for df_csv in df_list[1:]:
    df_default = pd.concat([df_default, df_csv], axis=0)
df_default.reset_index(drop=True, inplace=True) # concat으로 합쳐질 때 인덱스 재설정
df_default.info() # 데이터프레임 합친 결과 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2085775 entries, 0 to 2085774
Data columns (total 19 columns):
 #   Column         Dtype
---  ------         -----
 0   시군구            object
 1   번지             object
 2   본번             float64
 3   부번             float64
 4   단지명            object
 5   전월세구분          object
 6   전용면적(㎡)        float64
 7   계약년월           int64
 8   계약일            int64
 9   보증금(만원)        object
 10  월세(만원)         object
 11  층              float64
 12  건축년도           float64
 13  도로명            object
 14  계약기간           object
 15  계약구분           object
 16  갱신요구권 사용       object
 17  종전계약 보증금 (만원)  object
 18  종전계약 월세 (만원)   object
dtypes: float64(5), int64(2), object(12)
memory usage: 302.4+ MB

In [4]:
df_default.loc[1]

시군구               서울특별시 강남구 개포동
번지                        655-2
본번                        655.0
부번                          2.0
단지명              개포2차현대아파트(220)
전월세구분                        전세
전용면적(㎡)                   77.75
계약년월                     201101
계약일                          18
보증금(만원)                  20,000
월세(만원)                        0
층                           8.0
건축년도                     1988.0
도로명                     언주로 103
계약기간                          -
계약구분                          -
갱신요구권 사용                      -
종전계약 보증금 (만원)               NaN
종전계약 월세 (만원)                NaN
Name: 1, dtype: object

In [5]:
df_default.head()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201101,5,"35,000",0,7.0,1988.0,언주로 103,-,-,-,NaN,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201101,18,"20,000",0,8.0,1988.0,언주로 103,-,-,-,NaN,NaN
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,1,"24,000",0,5.0,1988.0,언주로 103,-,-,-,NaN,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,11,"31,000",0,9.0,1988.0,언주로 103,-,-,-,NaN,NaN
4,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),전세,77.75,201102,24,"30,500",0,9.0,1988.0,언주로 103,-,-,-,NaN,NaN

In [6]:
df_default.isnull().sum() # 번지, 본번, 부번이 null 값들이 있음

시군구                    0
번지                  1586
본번                   234
부번                   234
단지명                    0
전월세구분                  0
전용면적(㎡)               36
계약년월                   0
계약일                    0
보증금(만원)                0
월세(만원)                 0
층                     36
건축년도                 249
도로명                    0
계약기간                   0
계약구분                   0
갱신요구권 사용               0
종전계약 보증금 (만원)    1793799
종전계약 월세 (만원)     1793799
dtype: int64

In [7]:
df_default['전월세구분'].unique()

array(['전세', '월세'], dtype=object)

## 전세 데이터 프레임 생성 - apartment_deal 참조

- apartment_deal 과 진행 과정이 거의 동일하기에 한 셀로 합쳐서 진행
- 주석 부분들은 중간과정 확인 부분

In [8]:
# 전세 데이터 프레임 생성 - 주석부분은 중간에서 값 확인하는 부분들
df_full_rent = df_default.loc[df_default['전월세구분']=='전세',['시군구','본번','부번','도로명','계약년월','계약일','보증금(만원)','층','단지명']].copy()
df_full_rent.columns = ['address','main_number','sub_number','road','year_month','day','full_rent_price','floor','name']
# print(df_full_rent.head())
# print(df_full_rent.info())

df_full_rent = df_full_rent.astype({'full_rent_price':'str','year_month':'str','day':'str','full_rent_price':'str'})
df_full_rent["full_rent_price"] = df_full_rent["full_rent_price"].str.replace(",", "")
df_full_rent.loc[df_full_rent["day"].str.len()==1,"day"]='0'+df_full_rent.loc[df_full_rent["day"].str.len()==1,"day"] # 일이 있는 컬럼에서 1자리 숫자인 경우 앞에 0을 추가성
df_full_rent['year'] = df_full_rent['year_month'].str[0:4] # 연,월 합쳐져 있는 컬럼에서 연도만 추출
df_full_rent['month'] = df_full_rent['year_month'].str[4:] # 연,월 합쳐져 있는 컬럼에서 월만 추출
df_full_rent['date'] = pd.to_datetime(df_full_rent['year']+df_full_rent['month']+df_full_rent['day']) # 일자들을 합쳐서 date 컬럼 생
df_full_rent = df_full_rent.astype({'year':'int64','month':'int64','day':'int64','full_rent_price':'int64'})
df_full_rent = df_full_rent.drop(['year_month'], axis=1) # 사용 안하는 컬럼들 제거
# print(df_full_rent.head())
# print(df_full_rent.info())

df_full_rent["address_0"] = df_full_rent["address"].str.split(' ',expand=True)[0] # '시' 만 추출해야 하나, 서울만 함으로 일단은 실행 X
df_full_rent["address_1"] = df_full_rent["address"].str.split(' ',expand=True)[1] # '구' 만 추출
df_full_rent["address_2"] = df_full_rent["address"].str.split(' ',expand=True)[2] # '동' 만 추출
df_full_rent["road_name"] = df_full_rent["road"].str.split(' ',expand=True)[0] # '도로명' 만 추출
df_full_rent["road_number"] = df_full_rent["road"].str.split(' ',expand=True)[1] # '도로숫자' 만 추출
df_full_rent= df_full_rent[['year','month','day','address_0','address_1','address_2','main_number','sub_number','road_name','road_number','floor',"full_rent_price",'name','date']] # 사용할 컬럼만 선택
# print(df_full_rent.head())
# print(df_full_rent.info())
# print(df_full_rent.isnull().sum())

df_full_rent = df_full_rent.replace('', None) # ''값만 있는 값들을 null 값들로 수정
# print(df_full_rent.isnull().sum())

# df_full_rent[((df_full_rent['main_number'].isnull()) &(df_full_rent['sub_number'].notnull()))
#   |((df_full_rent['main_number'].notnull()) &(df_full_rent['sub_number'].isnull()))]

# df_full_rent[((df_full_rent['road_name'].isnull()) | (df_full_rent['road_number'].isnull())) & (df_full_rent['main_number'].isnull())] 

# df_full_rent.loc[df_full_rent['main_number'].isnull(),['address_0','address_1','address_2','main_number','sub_number','road_name','road_number','name']]

# df_full_rent.loc[df_full_rent['main_number'].isnull(),'name'].unique()

# df_full_rent.loc[df_full_rent['name']=='힐스테이트 서초 젠트리스',:]

df_full_rent.loc[df_full_rent['name']=='힐스테이트 서초 젠트리스','main_number'] = 557
df_full_rent.loc[df_full_rent['name']=='힐스테이트 서초 젠트리스','sub_number'] = 0


df_full_rent = df_full_rent[['year','month','day','address_0','address_1','address_2','main_number','sub_number','name','floor','full_rent_price','date']].copy()
df_full_rent.columns =['year','month','day','address_0','address_1','address_2','address_3','address_4','name','floor','full_rent_price','date']
# df_full_rent.head()

# df_full_rent.info()

### 전세 부분 'floor' null 값 해결

In [9]:
# floor의 빈 칸들 해결
df_full_rent[df_full_rent['floor'].isnull()].tail()

,year,month,day,address_0,address_1,address_2,address_3,address_4,name,floor,full_rent_price,date
357440,2013,11,16,서울특별시,노원구,공릉동,683.0,14.0,한일휴니스빌,NaN,8000,2013-11-16
375219,2013,11,30,서울특별시,동대문구,장안동,312.0,8.0,태솔에버빌,NaN,12000,2013-11-30
389892,2013,1,17,서울특별시,서대문구,창천동,501.0,14.0,삼성아트빌,NaN,9000,2013-01-17
439901,2013,1,20,서울특별시,영등포구,영등포동4가,103.0,0.0,영등포그랑그루,NaN,8000,2013-01-20
490009,2014,2,19,서울특별시,강서구,화곡동,29.0,47.0,드림하우스(29-47),NaN,9500,2014-02-19

In [10]:
# 컬럼별 값들을 리스트 화
add_1 = list(df_full_rent.loc[df_full_rent['floor'].isnull(),'address_1'])
add_2 = list(df_full_rent.loc[df_full_rent['floor'].isnull(),'address_2'])
add_3 = list(df_full_rent.loc[df_full_rent['floor'].isnull(),'address_3'])
add_4 = list(df_full_rent.loc[df_full_rent['floor'].isnull(),'address_4'])
floor_list = list()

In [11]:
# floor_list 에 값 추가
for i in range(len(add_1)):
    # 해당 주소에서 가장 많이 거래되었던 층수를 null 값에 채울거임
    if (len(df_full_rent.loc[(df_full_rent['address_1'] ==add_1[i]) & 
                     (df_full_rent['address_2'] ==add_2[i]) &
                     (df_full_rent['address_3'] ==add_3[i]) &
                     (df_full_rent['address_4'] ==add_4[i]),
                     'floor'].value_counts())) == 0:

        floor_list.append('')
    else:
        # 해당 주소에서 가장 많이 거래되었던 층수를 null 값에 채울거임
        floor_list.append(df_full_rent.loc[(df_full_rent['address_1'] ==add_1[i]) & 
                     (df_full_rent['address_2'] ==add_2[i]) &
                     (df_full_rent['address_3'] ==add_3[i]) &
                     (df_full_rent['address_4'] ==add_4[i]),
                     'floor'].value_counts().idxmax())
print(floor_list)

[3.0, 4.0, 14.0, 14.0, 4.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 7.0, 7.0, 7.0, 6.0, 6.0, 6.0, 6.0, 4.0, 3.0, 11.0, '']

In [12]:
# len을 통해서 리스트들이 다 만들어 졌는지 확인
print(len(add_1),len(add_2),len(add_3),len(add_4),len(floor_list))

25 25 25 25 25

In [13]:
# 맨 마지막 row가 '' 여서 해당 row의 floor 값을 채우기 위해 참조할 값을 확인 -> 없음
# 해당은 floor를 알수있는 방법이 없음 - 다른 참조할만할 floor 값들이 없음 -> 추후 제거 필요
df_full_rent.loc[(df_full_rent['address_3']==29)&(df_full_rent['address_4']==47),:]

,year,month,day,address_0,address_1,address_2,address_3,address_4,name,floor,full_rent_price,date
490009,2014,2,19,서울특별시,강서구,화곡동,29.0,47.0,드림하우스(29-47),NaN,9500,2014-02-19

In [14]:
# floor가 null인 값들을 해결
for i in range(len(add_1)):
    df_full_rent.loc[(df_full_rent['address_1'] ==add_1[i]) & 
                         (df_full_rent['address_2'] ==add_2[i]) &
                         (df_full_rent['address_3'] ==add_3[i]) &
                         (df_full_rent['address_4'] ==add_4[i]),
                         'floor']=floor_list[i]

In [15]:
# null 대신 ''이 잘 들어있는지 확인
df_full_rent.loc[df_full_rent['floor']=='',:]

,year,month,day,address_0,address_1,address_2,address_3,address_4,name,floor,full_rent_price,date
490009,2014,2,19,서울특별시,강서구,화곡동,29.0,47.0,드림하우스(29-47),,9500,2014-02-19

In [16]:
# 값 제거
df_full_rent=df_full_rent.drop(df_full_rent[df_full_rent['floor']==''].index)

# 제거후 값 확인
df_full_rent.loc[df_full_rent['floor']=='',:]

Empty DataFrame
Columns: [year, month, day, address_0, address_1, address_2, address_3, address_4, name, floor, full_rent_price, date]
Index: []

In [17]:
df_full_rent.info() # 값확인을 통해서 null값 처리

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1448686 entries, 0 to 2085774
Data columns (total 12 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   year             1448686 non-null  int64
 1   month            1448686 non-null  int64
 2   day              1448686 non-null  int64
 3   address_0        1448686 non-null  object
 4   address_1        1448686 non-null  object
 5   address_2        1448686 non-null  object
 6   address_3        1448686 non-null  float64
 7   address_4        1448686 non-null  float64
 8   name             1448686 non-null  object
 9   floor            1448686 non-null  object
 10  full_rent_price  1448686 non-null  int64
 11  date             1448686 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(4), object(5)
memory usage: 143.7+ MB

## 월세 데이터 프레임 생성

- apartment_deal 과 진행 과정이 거의 동일하기에 한 셀로 합쳐서 진행
- 주석 부분들은 중간과정 확인 부분

In [19]:
# 월세 데이터 프레임 생성
df_month_rent = df_default.loc[df_default['전월세구분']=='월세',['시군구','본번','부번','도로명','계약년월','계약일','보증금(만원)','월세(만원)','층','단지명']].copy()
df_month_rent.columns = ['address','main_number','sub_number','road','year_month','day','rent_deposit','month_rent_price','floor','name']
# df_month_rent.head()

df_month_rent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637088 entries, 25 to 2085770
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   address           637088 non-null  object
 1   main_number       637039 non-null  float64
 2   sub_number        637039 non-null  float64
 3   road              637088 non-null  object
 4   year_month        637088 non-null  int64
 5   day               637088 non-null  int64
 6   rent_deposit      637088 non-null  object
 7   month_rent_price  637088 non-null  object
 8   floor             637077 non-null  float64
 9   name              637088 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 53.5+ MB

전세 파트와 다른 부분! ↓

In [20]:
df_month_rent["month_rent_price2"] = df_month_rent["month_rent_price"].str.replace(',','')
df_month_rent.info() # "month_rent_price"가 제데로 처리가 안됨을 확인 밑에 해결법이 있음

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637088 entries, 25 to 2085770
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   address            637088 non-null  object
 1   main_number        637039 non-null  float64
 2   sub_number         637039 non-null  float64
 3   road               637088 non-null  object
 4   year_month         637088 non-null  int64
 5   day                637088 non-null  int64
 6   rent_deposit       637088 non-null  object
 7   month_rent_price   637088 non-null  object
 8   floor              637077 non-null  float64
 9   name               637088 non-null  object
 10  month_rent_price2  349840 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 58.3+ MB

-> df_month_rent["month_rent_price"].str.replace(',','') 

진행했을 때, 'month_rent_price2' 컬럼에서의 null 값이 매우 커짐 -> replace 매소드가 제대로 동작 안함을 확인

왜 동작을 안할까? -> string 과 object 타입의 차이, object는 타입의 혼용?

In [21]:
# 해당 파트를 통해서 우선 type 을 변경한 다음에 진행해야 함
df_month_rent = df_month_rent.astype({'month_rent_price':'str','rent_deposit':'str'})

In [22]:
df_month_rent["rent_deposit"] = df_month_rent["rent_deposit"].str.replace(",", "")
df_month_rent["month_rent_price"] = df_month_rent["month_rent_price"].str.replace(',','')
df_month_rent = df_month_rent.astype({'year_month':'str','day':'str','rent_deposit':'int64','month_rent_price':'int64'})
df_month_rent['year'] = df_month_rent['year_month'].str[0:4] # 연,월 합쳐져 있는 컬럼에서 연도만 추출
df_month_rent['month'] = df_month_rent['year_month'].str[4:] # 연,월 합쳐져 있는 컬럼에서 월만 추출
df_month_rent.loc[df_month_rent["day"].str.len()==1,"day"]='0'+df_month_rent.loc[df_month_rent["day"].str.len()==1,"day"] # 일이 있는 컬럼에서 1자리 숫자인 경우 앞에 0을 추가성
df_month_rent['date'] = pd.to_datetime(df_month_rent['year']+df_month_rent['month']+df_month_rent['day']) # 일자들을 합쳐서 date 컬럼 생
df_month_rent = df_month_rent.astype({'year':'int64','month':'int64','day':'int64'})
df_month_rent = df_month_rent.drop(['year_month'], axis=1) # 사용 안하는 컬럼들 제거
# print(df_month_rent.head())

df_month_rent["address_0"] = df_month_rent["address"].str.split(' ',expand=True)[0] # '시' 만 추출해야 하나, 서울만 함으로 일단은 실행 X
df_month_rent["address_1"] = df_month_rent["address"].str.split(' ',expand=True)[1] # '구' 만 추출
df_month_rent["address_2"] = df_month_rent["address"].str.split(' ',expand=True)[2] # '동' 만 추출
df_month_rent["road_name"] = df_month_rent["road"].str.split(' ',expand=True)[0] # '도로명' 만 추출
df_month_rent["road_number"] = df_month_rent["road"].str.split(' ',expand=True)[1] # '도로숫자' 만 추출
df_month_rent= df_month_rent[['year','month','day','address_0','address_1','address_2','main_number','sub_number','road_name','road_number','floor',"rent_deposit","month_rent_price",'name','date']] # 사용할 컬럼만 선택
# print(df_month_rent.head())

# print(df_month_rent.info())
# print(df_month_rent.isnull().sum())

df_month_rent = df_month_rent.replace('', None) # ''값만 있는 값들을 null 값들로 수정
# print(df_month_rent.isnull().sum()) # 수정한 후 정보 확인 -> road_name과 road_number가 기하급수적으로 증가함

# df_month_rent[((df_month_rent['main_number'].isnull()) &(df_month_rent['sub_number'].notnull()))
#   |((df_month_rent['main_number'].notnull()) &(df_month_rent['sub_number'].isnull()))]

# df_month_rent[((df_month_rent['road_name'].isnull()) | (df_month_rent['road_number'].isnull())) & (df_month_rent['main_number'].isnull())] 

# df_month_rent.loc[df_month_rent['main_number'].isnull(),['address_0','address_1','address_2','main_number','sub_number','road_name','road_number','name']]

# df_month_rent.loc[df_month_rent['main_number'].isnull(),'name'].unique()

# df_month_rent.loc[df_month_rent['name']=='힐스테이트 서초 젠트리스',:]


df_month_rent.loc[df_month_rent['name']=='힐스테이트 서초 젠트리스','main_number'] = 557
df_month_rent.loc[df_month_rent['name']=='힐스테이트 서초 젠트리스','sub_number'] = 0

df_month_rent = df_month_rent[['date','address_0','address_1','address_2','main_number','sub_number','name','floor','rent_deposit','month_rent_price','date']]
df_month_rent.columns =['date','address_0','address_1','address_2','address_3','address_4','name','floor','rent_deposit','month_rent_price','date']
# df_month_rent.head()

# df_month_rent.info()

### 월세 floor 값 확인

In [23]:
# df_month_rent[df_month_rent['floor'].isnull()].tail()


add_1 = list(df_month_rent.loc[df_month_rent['floor'].isnull(),'address_1'])
add_2 = list(df_month_rent.loc[df_month_rent['floor'].isnull(),'address_2'])
add_3 = list(df_month_rent.loc[df_month_rent['floor'].isnull(),'address_3'])
add_4 = list(df_month_rent.loc[df_month_rent['floor'].isnull(),'address_4'])
floor_list = list()
# floor_list 에 값 추가
for i in range(len(add_1)):
    # 해당 주소에서 가장 많이 거래되었던 층수를 null 값에 채울거임
    if (len(df_month_rent.loc[(df_month_rent['address_1'] ==add_1[i]) & 
                     (df_month_rent['address_2'] ==add_2[i]) &
                     (df_month_rent['address_3'] ==add_3[i]) &
                     (df_month_rent['address_4'] ==add_4[i]),
                     'floor'].value_counts())) == 0:

        floor_list.append('')
    else:
        # 해당 주소에서 가장 많이 거래되었던 층수를 null 값에 채울거임
        floor_list.append(df_month_rent.loc[(df_month_rent['address_1'] ==add_1[i]) & 
                     (df_month_rent['address_2'] ==add_2[i]) &
                     (df_month_rent['address_3'] ==add_3[i]) &
                     (df_month_rent['address_4'] ==add_4[i]),
                     'floor'].value_counts().idxmax())
# print(floor_list)

# print(len(add_1),len(add_2),len(add_3),len(add_4),len(floor_list)) 

for i in range(len(add_1)):
    df_month_rent.loc[(df_month_rent['address_1'] ==add_1[i]) & 
                         (df_month_rent['address_2'] ==add_2[i]) &
                         (df_month_rent['address_3'] ==add_3[i]) &
                         (df_month_rent['address_4'] ==add_4[i]),
                         'floor']=floor_list[i]

# df_month_rent.head()

# df_month_rent.info()