In [1]:
import pandas as pd
import os

# 데이터 불러오기

## 아파트 매매

In [3]:
dir_path = "dataset\\final_deal_price"
file_list = os.listdir(dir_path)
final_deal_list = list()

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for csv_file in file_list:
    final_deal_list.append(pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8'))

In [4]:
final_deal_list[0]

,year,month,day,address_1,address_2,address_3,address_4,deal_price
0,2011,1,1,강남구,개포동,12.0,0.0,0.0
1,2011,1,1,강남구,개포동,12.0,2.0,0.0
2,2011,1,1,강남구,개포동,138.0,0.0,0.0
3,2011,1,1,강남구,개포동,140.0,0.0,0.0
4,2011,1,1,강남구,개포동,141.0,0.0,0.0
...,...,...,...,...,...,...,...,...
8765995,2022,12,31,관악구,남현동,602.0,218.0,44000.0
8765996,2022,12,31,관악구,남현동,602.0,283.0,56000.0
8765997,2022,12,31,관악구,남현동,602.0,284.0,63000.0
8765998,2022,12,31,관악구,남현동,602.0,323.0,70000.0
8765999,2022,12,31,관악구,남현동,602.0,329.0,58000.0

In [5]:
# 모든 데이터프레임을을 통합
final_deal = final_deal_list[0]
for df_csv in final_deal_list[1:]:
    final_deal = pd.concat([final_deal, df_csv], axis=0)
final_deal.reset_index(drop=True, inplace=True) # concat으로 합쳐질 때 인덱스 재설정

In [6]:
final_deal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38833380 entries, 0 to 38833379
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int64
 1   month       int64
 2   day         int64
 3   address_1   object
 4   address_2   object
 5   address_3   float64
 6   address_4   float64
 7   deal_price  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 2.3+ GB

In [7]:
# 파일로 저장
final_deal.to_pickle('final_deal.pkl')

## 아파트 전세

In [2]:
dir_path = "dataset\\final_full_rent"
file_list = os.listdir(dir_path)
final_full_rent_list = list()

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for csv_file in file_list:
    final_full_rent_list.append(pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8'))

final_full_rent = final_full_rent_list[0]
for df_csv in final_full_rent_list[1:]:
    final_full_rent = pd.concat([final_full_rent, df_csv], axis=0)
final_full_rent.reset_index(drop=True, inplace=True)

In [3]:
final_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40577814 entries, 0 to 40577813
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int64
 1   month            int64
 2   day              int64
 3   address_1        object
 4   address_2        object
 5   address_3        float64
 6   address_4        float64
 7   full_rent_price  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 2.4+ GB

In [4]:
# 파일로 저장
final_full_rent.to_pickle('final_full_rent.pkl')

## 아파트 연세

In [2]:
dir_path = "dataset\\final_month_rent"
file_list = os.listdir(dir_path)
final_year_rent_list = list()

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for csv_file in file_list:
    final_year_rent_list.append(pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8'))

final_year_rent = final_year_rent_list[0]
for df_csv in final_year_rent_list[1:]:
    final_year_rent = pd.concat([final_year_rent, df_csv], axis=0)
final_year_rent.reset_index(drop=True, inplace=True)

In [3]:
final_year_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36633114 entries, 0 to 36633113
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int64
 1   month            int64
 2   day              int64
 3   address_1        object
 4   address_2        object
 5   address_3        float64
 6   address_4        float64
 7   year_rent_price  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 2.2+ GB

In [4]:
# 파일로 저장
final_year_rent.to_pickle('final_year_rent.pkl')