In [1]:
import pandas as pd
import os

# 데이터 불러오기

## 아파트 매매

In [2]:
dir_path = "dataset\\after_data\\final_deal_price"
file_list = os.listdir(dir_path)

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for i,csv_file in enumerate(file_list):
    if i == 0:
        final_deal = pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')
    else:
        final_deal = pd.concat([final_deal, pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')], axis=0)
final_deal.reset_index(drop=True, inplace=True)

In [5]:
final_deal.tail()

,year,month,day,address_1,address_2,address_3,address_4,deal_price
38833375,2022,12,31,중랑구,중화동,438,0,69500
38833376,2022,12,31,중랑구,중화동,450,0,91500
38833377,2022,12,31,중랑구,중화동,452,0,55000
38833378,2022,12,31,중랑구,중화동,453,0,85500
38833379,2022,12,31,중랑구,중화동,454,0,96000

In [6]:
final_deal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38833380 entries, 0 to 38833379
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int64
 1   month       int64
 2   day         int64
 3   address_1   object
 4   address_2   object
 5   address_3   int64
 6   address_4   int64
 7   deal_price  int64
dtypes: int64(6), object(2)
memory usage: 2.3+ GB

In [7]:
# 용량을 줄이기 위해서 타입을 변경
final_deal=final_deal.astype({'year': 'int16','month': 'int16','day': 'int16','address_3': 'int16','address_4': 'int16','deal_price': 'int32'})

In [10]:
final_deal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38833380 entries, 0 to 38833379
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int16
 1   month       int16
 2   day         int16
 3   address_1   object
 4   address_2   object
 5   address_3   int16
 6   address_4   int16
 7   deal_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.1+ GB

In [11]:
# 파일로 저장
final_deal.to_pickle('dataset\\after_data\\final_deal.pkl')

## 아파트 전세

In [3]:
dir_path = "dataset\\after_data\\final_full_rent"
file_list = os.listdir(dir_path)

for i,csv_file in enumerate(file_list):
    if i == 0:
        final_full_rent = pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')
    else:
        final_full_rent = pd.concat([final_full_rent, pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')], axis=0)
final_full_rent.reset_index(drop=True, inplace=True)

In [4]:
final_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40577814 entries, 0 to 40577813
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int64
 1   month            int64
 2   day              int64
 3   address_1        object
 4   address_2        object
 5   address_3        int64
 6   address_4        int64
 7   full_rent_price  int64
dtypes: int64(6), object(2)
memory usage: 2.4+ GB

In [6]:
final_full_rent = final_full_rent.astype({'year': 'int16','month': 'int16','day': 'int16','address_3': 'int16','address_4': 'int16','full_rent_price': 'int32'})
final_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40577814 entries, 0 to 40577813
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   full_rent_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.1+ GB

In [7]:
# 파일로 저장
final_full_rent.to_pickle('dataset\\after_data\\final_full_rent.pkl')

## 아파트 연세

In [2]:
dir_path = "dataset\\after_data\\final_month_rent"
file_list = os.listdir(dir_path)

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for i,csv_file in enumerate(file_list):
    if i == 0:
        final_year_rent = pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')
    else:
        final_year_rent = pd.concat([final_year_rent, pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')], axis=0)
final_year_rent.reset_index(drop=True, inplace=True)

In [3]:
final_year_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36633114 entries, 0 to 36633113
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int64
 1   month            int64
 2   day              int64
 3   address_1        object
 4   address_2        object
 5   address_3        int64
 6   address_4        int64
 7   year_rent_price  int64
dtypes: int64(6), object(2)
memory usage: 2.2+ GB

In [5]:
final_year_rent = final_year_rent.astype({'year': 'int16','month': 'int16','day': 'int16','address_3': 'int16','address_4': 'int16','year_rent_price': 'int32'})
final_year_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36633114 entries, 0 to 36633113
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   year_rent_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.0+ GB

In [6]:
# 파일로 저장
final_year_rent.to_pickle('dataset\\after_data\\final_year_rent.pkl')