In [1]:
import pandas as pd
import os

# df_economic 추가 컬럼들 생성

In [2]:
df_economic = pd.read_pickle('dataset\\after_data\\final_economic.pkl')
df_economic.head()

,date,year,month,day,apartment_index,kospi_index,korea_rp,korea_3_year,korea_10_year,korea_10-3_year,...,us_2_year,us_10_year,us_10-2_year,us_10-3_year_month,apartment_supply,unsold_count,unsold_ratio,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count
0,2011-01-01,2011,1,1,93.0,2051.00,2.5,3.440,4.57,1.130,...,0.601,3.334,2.733,3.210,5345,2269,42.450889,7179,12336,2514
1,2011-01-02,2011,1,2,93.0,2051.00,2.5,3.440,4.57,1.130,...,0.601,3.334,2.733,3.210,5345,2269,42.450889,7179,12336,2514
2,2011-01-03,2011,1,3,93.0,2070.08,2.5,3.440,4.57,1.130,...,0.601,3.334,2.733,3.210,5345,2269,42.450889,7179,12336,2514
3,2011-01-04,2011,1,4,93.0,2085.14,2.5,3.495,4.58,1.085,...,0.621,3.338,2.717,3.196,5345,2269,42.450889,7179,12336,2514
4,2011-01-05,2011,1,5,93.0,2082.55,2.5,3.495,4.63,1.135,...,0.708,3.463,2.755,3.321,5345,2269,42.450889,7179,12336,2514

In [3]:
df_economic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4383 entries, 0 to 4382
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         4383 non-null   object
 1   year                         4383 non-null   int16
 2   month                        4383 non-null   int16
 3   day                          4383 non-null   int16
 4   apartment_index              4383 non-null   float64
 5   kospi_index                  4383 non-null   float64
 6   korea_rp                     4383 non-null   float64
 7   korea_3_year                 4383 non-null   float64
 8   korea_10_year                4383 non-null   float64
 9   korea_10-3_year              4383 non-null   float64
 10  us_3_month                   4383 non-null   float64
 11  us_2_year                    4383 non-null   float64
 12  us_10_year                   4383 non-null   float64
 13  us_10-2_year                 4383 non-null   float64
 14  us_10-3_year_month           4383 non-null   float64
 15  apartment_supply             4383 non-null   int32
 16  unsold_count                 4383 non-null   int32
 17  unsold_ratio                 4383 non-null   float64
 18  last_month_deal_count        4383 non-null   int32
 19  last_month_full_rent_count   4383 non-null   int32
 20  last_month_month_rent_count  4383 non-null   int32
dtypes: float64(12), int16(3), int32(5), object(1)
memory usage: 590.7+ KB

In [4]:
df_economic.columns=['date','year','month','day','apartment_index',
                    'kospi_index','korea_rp','korea_3_year',
                    'korea_10_year','korea_10-3_year','us_3_month','us_2_year',
                    'us_10_year','us_10-2_year','us_10-3_year_month',
                    'total_apartment_supply','total_unsold_count', 'total_unsold_ratio',
                    'total_last_month_deal_count','total_last_month_full_rent_count',
                    'total_last_month_month_rent_count']

In [5]:
# 계산할 원본 컬럼 목록
origin_column_list = list(df_economic.columns)
origin_column_list = origin_column_list[5:]
origin_column_list

['kospi_index',
 'korea_rp',
 'korea_3_year',
 'korea_10_year',
 'korea_10-3_year',
 'us_3_month',
 'us_2_year',
 'us_10_year',
 'us_10-2_year',
 'us_10-3_year_month',
 'total_apartment_supply',
 'total_unsold_count',
 'total_unsold_ratio',
 'total_last_month_deal_count',
 'total_last_month_full_rent_count',
 'total_last_month_month_rent_count']

## 1,3,6,12개월 전 대비 변화율 계산

In [6]:
# 1,3,6,12달전 날짜들 구한
# 과거 날짜를 datetime 변수로 생성
df_economic['1m_before_year'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=1)).dt.year
df_economic['1m_before_month'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=1)).dt.month
df_economic['1m_before_day'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=1)).dt.day
df_economic['3m_before_year'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=3)).dt.year
df_economic['3m_before_month'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=3)).dt.month
df_economic['3m_before_day'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=3)).dt.day
df_economic['6m_before_year'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=6)).dt.year
df_economic['6m_before_month'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=6)).dt.month
df_economic['6m_before_day'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=6)).dt.day
df_economic['12m_before_year'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=12)).dt.year
df_economic['12m_before_month'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=12)).dt.month
df_economic['12m_before_day'] = (pd.to_datetime(df_economic['date'])- pd.DateOffset(months=12)).dt.day
df_economic

,date,year,month,day,apartment_index,kospi_index,korea_rp,korea_3_year,korea_10_year,korea_10-3_year,...,1m_before_day,3m_before_year,3m_before_month,3m_before_day,6m_before_year,6m_before_month,6m_before_day,12m_before_year,12m_before_month,12m_before_day
0,2011-01-01,2011,1,1,93.0,2051.00,2.50,3.440,4.570,1.130,...,1,2010,10,1,2010,7,1,2010,1,1
1,2011-01-02,2011,1,2,93.0,2051.00,2.50,3.440,4.570,1.130,...,2,2010,10,2,2010,7,2,2010,1,2
2,2011-01-03,2011,1,3,93.0,2070.08,2.50,3.440,4.570,1.130,...,3,2010,10,3,2010,7,3,2010,1,3
3,2011-01-04,2011,1,4,93.0,2085.14,2.50,3.495,4.580,1.085,...,4,2010,10,4,2010,7,4,2010,1,4
4,2011-01-05,2011,1,5,93.0,2082.55,2.50,3.495,4.630,1.135,...,5,2010,10,5,2010,7,5,2010,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4378,2022-12-27,2022,12,27,104.4,2332.79,3.25,3.661,3.612,-0.049,...,27,2022,9,27,2022,6,27,2021,12,27
4379,2022-12-28,2022,12,28,104.4,2280.45,3.25,3.668,3.675,0.007,...,28,2022,9,28,2022,6,28,2021,12,28
4380,2022-12-29,2022,12,29,104.4,2236.40,3.25,3.718,3.723,0.005,...,29,2022,9,29,2022,6,29,2021,12,29
4381,2022-12-30,2022,12,30,104.4,2236.40,3.25,3.725,3.735,0.010,...,30,2022,9,30,2022,6,30,2021,12,30
4382,2022-12-31,2022,12,31,104.4,2236.40,3.25,3.725,3.735,0.010,...,30,2022,9,30,2022,6,30,2021,12,31

In [7]:
# 추가할 컬럼들의 컬럼명들을 생성
temp_column_total_list = list()
month_num_list = [1,3,6,12] # 1개월,3개월,6개월,12개월 이전 자료들 생성
for i in month_num_list:
    column_list = list()
    column_list.append('temp_year_'+str(i)+'m_before')
    column_list.append('temp_month_'+str(i)+'m_before')
    column_list.append('temp_day_'+str(i)+'m_before')
    column_list.append('kospi_index_'+str(i)+'m_before')
    column_list.append('korea_rp_'+str(i)+'m_before')
    column_list.append('korea_3_year_'+str(i)+'m_before')
    column_list.append('korea_10_year_'+str(i)+'m_before')
    column_list.append('korea_10-3_year_'+str(i)+'m_before')
    column_list.append('us_3_month_'+str(i)+'m_before')
    column_list.append('us_2_year_'+str(i)+'m_before')
    column_list.append('us_10_year_'+str(i)+'m_before')
    column_list.append('us_10-2_year_'+str(i)+'m_before')
    column_list.append('us_10-3_year_month_'+str(i)+'m_before')
    column_list.append('total_apartment_supply_'+str(i)+'m_before')
    column_list.append('total_unsold_count_'+str(i)+'m_before')
    column_list.append('total_unsold_ratio_'+str(i)+'m_before')
    column_list.append('total_last_month_deal_count_'+str(i)+'m_before')
    column_list.append('total_last_month_full_rent_count_'+str(i)+'m_before')
    column_list.append('total_last_month_month_rent_count_'+str(i)+'m_before')
    temp_column_total_list.append(column_list)

In [8]:
temp_column_total_list[0]

['temp_year_1m_before',
 'temp_month_1m_before',
 'temp_day_1m_before',
 'kospi_index_1m_before',
 'korea_rp_1m_before',
 'korea_3_year_1m_before',
 'korea_10_year_1m_before',
 'korea_10-3_year_1m_before',
 'us_3_month_1m_before',
 'us_2_year_1m_before',
 'us_10_year_1m_before',
 'us_10-2_year_1m_before',
 'us_10-3_year_month_1m_before',
 'total_apartment_supply_1m_before',
 'total_unsold_count_1m_before',
 'total_unsold_ratio_1m_before',
 'total_last_month_deal_count_1m_before',
 'total_last_month_full_rent_count_1m_before',
 'total_last_month_month_rent_count_1m_before']

In [9]:
# 컬럼을 추가할 때 key로 매칭할 df_economic의 컬럼명들을 설정
economic_columns_list = [['1m_before_year','1m_before_month','1m_before_day'],
                        ['3m_before_year','3m_before_month','3m_before_day'],
                        ['6m_before_year','6m_before_month','6m_before_day'],
                        ['12m_before_year','12m_before_month','12m_before_day']]

In [10]:
# merge를 하기 위해서 copy 로 생성
# df_temp는 붙일 과거의 데이터들을 뜻함
# df_tempdml 'year', 'month', 'day'와 df_economic의 과거 날짜들매칭하면 과거 수치들을 컬럼으로 생성 가능
df_temp= df_economic[['year','month','day',
                    'kospi_index','korea_rp','korea_3_year',
                    'korea_10_year','korea_10-3_year','us_3_month','us_2_year',
                    'us_10_year','us_10-2_year','us_10-3_year_month',
                    'total_apartment_supply','total_unsold_count', 'total_unsold_ratio',
                    'total_last_month_deal_count','total_last_month_full_rent_count',
                    'total_last_month_month_rent_count']].copy()

In [11]:
# 데이터들을 merge
pd.set_option('display.max_columns', 100)
for i,column_list in enumerate(temp_column_total_list):
    df_temp.columns = column_list
    # inner join 이므로 null 값들을 알아서 제거가 됨
    df_economic = pd.merge(df_economic, df_temp, left_on=economic_columns_list[i], 
         right_on=[column_list[0],column_list[1],column_list[2]])

In [12]:
df_economic

,date,year,month,day,apartment_index,kospi_index,korea_rp,korea_3_year,korea_10_year,korea_10-3_year,us_3_month,us_2_year,us_10_year,us_10-2_year,us_10-3_year_month,total_apartment_supply,total_unsold_count,total_unsold_ratio,total_last_month_deal_count,total_last_month_full_rent_count,total_last_month_month_rent_count,1m_before_year,1m_before_month,1m_before_day,3m_before_year,3m_before_month,3m_before_day,6m_before_year,6m_before_month,6m_before_day,12m_before_year,12m_before_month,12m_before_day,temp_year_1m_before,temp_month_1m_before,temp_day_1m_before,kospi_index_1m_before,korea_rp_1m_before,korea_3_year_1m_before,korea_10_year_1m_before,korea_10-3_year_1m_before,us_3_month_1m_before,us_2_year_1m_before,us_10_year_1m_before,us_10-2_year_1m_before,us_10-3_year_month_1m_before,total_apartment_supply_1m_before,total_unsold_count_1m_before,total_unsold_ratio_1m_before,total_last_month_deal_count_1m_before,...,korea_10-3_year_3m_before,us_3_month_3m_before,us_2_year_3m_before,us_10_year_3m_before,us_10-2_year_3m_before,us_10-3_year_month_3m_before,total_apartment_supply_3m_before,total_unsold_count_3m_before,total_unsold_ratio_3m_before,total_last_month_deal_count_3m_before,total_last_month_full_rent_count_3m_before,total_last_month_month_rent_count_3m_before,temp_year_6m_before,temp_month_6m_before,temp_day_6m_before,kospi_index_6m_before,korea_rp_6m_before,korea_3_year_6m_before,korea_10_year_6m_before,korea_10-3_year_6m_before,us_3_month_6m_before,us_2_year_6m_before,us_10_year_6m_before,us_10-2_year_6m_before,us_10-3_year_month_6m_before,total_apartment_supply_6m_before,total_unsold_count_6m_before,total_unsold_ratio_6m_before,total_last_month_deal_count_6m_before,total_last_month_full_rent_count_6m_before,total_last_month_month_rent_count_6m_before,temp_year_12m_before,temp_month_12m_before,temp_day_12m_before,kospi_index_12m_before,korea_rp_12m_before,korea_3_year_12m_before,korea_10_year_12m_before,korea_10-3_year_12m_before,us_3_month_12m_before,us_2_year_12m_before,us_10_year_12m_before,us_10-2_year_12m_before,us_10-3_year_month_12m_before,total_apartment_supply_12m_before,total_unsold_count_12m_before,total_unsold_ratio_12m_before,total_last_month_deal_count_12m_before,total_last_month_full_rent_count_12m_before,total_last_month_month_rent_count_12m_before
0,2012-01-01,2012,1,1,86.8,1825.74,3.25,3.320,3.770,0.450,0.020,0.2470,1.876,1.6290,1.856,6960,1861,26.738506,3712,9861,1988,2011,12,1,2011,10,1,2011,7,1,2011,1,1,2011,12,1,1916.18,3.25,3.390,3.800,0.410,-0.0030,0.2580,2.086,1.8280,2.0890,3764,1801,47.848034,3519,...,0.430,0.025,0.2470,1.917,1.6700,1.892,1272,1776,139.622642,4178,9272,2359,2011,7,1,2125.74,3.25,3.765,4.320,0.555,0.018,0.4740,3.182,2.7080,3.164,4051,1825,45.050605,3687,10008,2199,2011,1,1,2051.00,2.5,3.440,4.570,1.130,0.124,0.6010,3.334,2.7330,3.210,5345,2269,42.450889,7179,12336,2514
1,2012-01-02,2012,1,2,86.8,1826.37,3.25,3.340,3.780,0.440,0.020,0.2470,1.873,1.6260,1.853,6960,1861,26.738506,3712,9861,1988,2011,12,2,2011,10,2,2011,7,2,2011,1,2,2011,12,2,1916.04,3.25,3.380,3.790,0.410,0.0030,0.2540,2.033,1.7790,2.0300,3764,1801,47.848034,3519,...,0.430,0.025,0.2470,1.917,1.6700,1.892,1272,1776,139.622642,4178,9272,2359,2011,7,2,2125.74,3.25,3.765,4.320,0.555,0.018,0.4740,3.182,2.7080,3.164,4051,1825,45.050605,3687,10008,2199,2011,1,2,2051.00,2.5,3.440,4.570,1.130,0.124,0.6010,3.334,2.7330,3.210,5345,2269,42.450889,7179,12336,2514
2,2012-01-03,2012,1,3,86.8,1875.41,3.25,3.360,3.790,0.430,0.020,0.2590,1.956,1.6970,1.936,6960,1861,26.738506,3712,9861,1988,2011,12,3,2011,10,3,2011,7,3,2011,1,3,2011,12,3,1916.04,3.25,3.380,3.790,0.410,0.0030,0.2540,2.033,1.7790,2.0300,3764,1801,47.848034,3519,...,0.430,0.008,0.2350,1.749,1.5140,1.741,1272,1776,139.622642,4178,9272,2359,2011,7,3,2125.74,3.25,3.765,4.320,0.555,0.018,0.4740,3.182,2.7080,3.164,4051,1825,45.050605,3687,10008,2199,2011,1,3,2070.08,2.5,3.440,4.570,1.130,0.124,0.6010,3.334,2.7330,3.210,5345,2269,42.450889,7179,12336,2514
3,2012-01-04,2012,1,4,86.8,1866.22,3.25,3.360,3.790,0.430,0.015,0.2630,1.984,1.7210,1.969,6960,1861,26.738506,3712,9861,1988,2011,12,4,2011,10,4,2011,7,4,2011,1,4,2011,12,4,1916.04,3.25,3.380,3.790,0.410,0.0030,0.2540,2.033,1.7790,2.0300,3764,1801,47.848034,3519,...,0.280,0.008,0.2550,1.817,1.5620,1.809,1272,1776,139.622642,4178,9272,2359,2011,7,4,2145.30,3.25,3.775,4.320,0.545,0.015,0.4740,3.200,2.7260,3.185,4051,1825,45.050605,3687,10008,2199,2011,1,4,2085.14,2.5,3.495,4.580,1.085,0.142,0.6210,3.338,2.7170,3.196,5345,2269,42.450889,7179,12336,2514
4,2012-01-05,2012,1,5,86.8,1863.74,3.25,3.340,3.780,0.440,0.015,0.2630,1.996,1.7330,1.981,6960,1861,26.738506,3712,9861,1988,2011,12,5,2011,10,5,2011,7,5,2011,1,5,2011,12,5,1922.90,3.25,3.380,3.780,0.400,0.0100,0.2620,2.033,1.7710,2.0230,3764,1801,47.848034,3519,...,0.280,0.003,0.2590,1.891,1.6320,1.888,1272,1776,139.622642,4178,9272,2359,2011,7,5,2161.75,3.25,3.770,4.300,0.530,0.005,0.4340,3.119,2.6850,3.114,4051,1825,45.050605,3687,10008,2199,2011,1,5,2082.55,2.5,3.495,4.630,1.135,0.142,0.7080,3.463,2.7550,3.321,5345,2269,42.450889,7179,12336,2514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,2022-12-27,2022,12,27,104.4,2332.79,3.25,3.661,3.612,-0.049,4.311,4.3827,3.849,-0.5337,-0.462,1759,865,49.175668,750,8890,7709,2022,11,27,2022,9,27,2022,6,27,2021,12,27,2022,11,27,2437.86,3.25,3.640,3.613,-0.027,4.4107,4.4629,3.694,-0.7689,-0.7167,1265,866,68.458498,574,...,-0.088,3.328,4.2871,3.949,-0.3381,0.621,1853,610,32.919590,760,11341,7415,2022,6,27,2401.92,1.75,3.570,3.724,0.154,1.685,3.1319,3.202,0.0701,1.517,105,688,655.238095,1844,11656,8696,2021,12,27,2999.55,1.0,1.776,2.212,0.436,0.056,0.7048,1.477,0.7722,1.421,2025,54,2.666667,1445,11186,6661
4014,2022-12-28,2022,12,28,104.4,2280.45,3.25,3.668,3.675,0.007,4.457,4.3574,3.886,-0.4714,-0.571,1759,865,49.175668,750,8890,7709,2022,11,28,2022,9,28,2022,6,28,2021,12,28,2022,11,28,2408.27,3.25,3.670,3.610,-0.060,4.4020,4.4443,3.679,-0.7653,-0.7230,1265,866,68.458498,574,...,0.015,3.374,4.1267,3.737,-0.3897,0.363,1853,610,32.919590,760,11341,7415,2022,6,28,2422.09,1.75,3.539,3.664,0.125,1.780,3.1116,3.177,0.0654,1.397,105,688,655.238095,1844,11656,8696,2021,12,28,3020.24,1.0,1.786,2.196,0.410,0.061,0.7559,1.484,0.7281,1.423,2025,54,2.666667,1445,11186,6661
4015,2022-12-29,2022,12,29,104.4,2236.40,3.25,3.718,3.723,0.005,4.423,4.3656,3.820,-0.5456,-0.603,1759,865,49.175668,750,8890,7709,2022,11,29,2022,9,29,2022,6,29,2021,12,29,2022,11,29,2433.39,3.25,3.723,3.672,-0.051,4.3840,4.4814,3.750,-0.7314,-0.6340,1265,866,68.458498,574,...,-0.096,3.314,4.1924,3.782,-0.4104,0.468,1853,610,32.919590,760,11341,7415,2022,6,29,2377.99,1.75,3.547,3.667,0.120,1.757,3.0426,3.087,0.0444,1.330,105,688,655.238095,1844,11656,8696,2021,12,29,2993.29,1.0,1.783,2.180,0.397,0.051,0.7520,1.556,0.8040,1.505,2025,54,2.666667,1445,11186,6661
4016,2022-12-30,2022,12,30,104.4,2236.40,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175668,750,8890,7709,2022,11,30,2022,9,30,2022,6,30,2021,12,30,2022,11,30,2472.53,3.25,3.666,3.654,-0.012,4.3640,4.3287,3.611,-0.7177,-0.7530,1265,866,68.458498,574,...,-0.105,3.283,4.2726,3.829,-0.4436,0.546,1853,610,32.919590,760,11341,7415,2022,6,30,2332.64,1.75,3.549,3.637,0.088,1.700,2.9554,3.017,0.0616,1.317,105,688,655.238095,1844,11656,8696,2021,12,30,2977.65,1.0,1.802,2.248,0.446,0.046,0.7303,1.507,0.7767,1.461,2025,54,2.666667,1445,11186,6661
4017,2022-12-31,2022,12,31,104.4,2236.40,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175668,750,8890,7709,2022,11,30,2022,9,30,2022,6,30,2021,12,31,2022,11,30,2472.53,3.25,3.666,3.654,-0.012,4.3640,4.3287,3.611,-0.7177,-0.7530,1265,866,68.458498,574,...,-0.105,3.283,4.2726,3.829,-0.4436,0.546,1853,610,32.919590,760,11341,7415,2022,6,30,2332.64,1.75,3.549,3.637,0.088,1.700,2.9554,3.017,0.0616,1.317,105,688,655.238095,1844,11656,8696,2021,12,31,2977.65,1.0,1.795,2.255,0.460,0.053,0.7341,1.512,0.7779,1.459,2025,54,2.666667,1445,11186,6661

In [18]:
df_economic.isnull().sum()[:50]

date                                     0
year                                     0
month                                    0
day                                      0
apartment_index                          0
kospi_index                              0
korea_rp                                 0
korea_3_year                             0
korea_10_year                            0
korea_10-3_year                          0
us_3_month                               0
us_2_year                                0
us_10_year                               0
us_10-2_year                             0
us_10-3_year_month                       0
total_apartment_supply                   0
total_unsold_count                       0
total_unsold_ratio                       0
total_last_month_deal_count              0
total_last_month_full_rent_count         0
total_last_month_month_rent_count        0
1m_before_year                           0
1m_before_month                          0
1m_before_day                            0
3m_before_year                           0
3m_before_month                          0
3m_before_day                            0
6m_before_year                           0
6m_before_month                          0
6m_before_day                            0
12m_before_year                          0
12m_before_month                         0
12m_before_day                           0
temp_year_1m_before                      0
temp_month_1m_before                     0
temp_day_1m_before                       0
kospi_index_1m_before                    0
korea_rp_1m_before                       0
korea_3_year_1m_before                   0
korea_10_year_1m_before                  0
korea_10-3_year_1m_before                0
us_3_month_1m_before                     0
us_2_year_1m_before                      0
us_10_year_1m_before                     0
us_10-2_year_1m_before                   0
us_10-3_year_month_1m_before             0
total_apartment_supply_1m_before         0
total_unsold_count_1m_before             0
total_unsold_ratio_1m_before             0
total_last_month_deal_count_1m_before    0
dtype: int64

In [18]:
df_economic2 = df_economic.copy()

- 처음에 변화율을 구하려 했지만, 수치가 0인 값들이 있어서 계산을 할 때 null이나 inf가 되는 경우들이 있어서 변화율보다는 변화정도로 진행을 하기로 함

In [19]:
# 존재하는 컬럼들에 계산한 변화율을 덮어씀
#
for column_list in temp_column_total_list:
    for i,column_name in enumerate(column_list[3:]): # column_name은 과거 날짜 데이터
        # 변화정도는(이전에는 과거수치에서 덮어씀)= (현재수치-과거수치)
        df_economic2[column_name] = df_economic2[origin_column_list[i]] - df_economic2[column_name]
df_economic2

,date,year,month,day,apartment_index,kospi_index,korea_rp,korea_3_year,korea_10_year,korea_10-3_year,us_3_month,us_2_year,us_10_year,us_10-2_year,us_10-3_year_month,total_apartment_supply,total_unsold_count,total_unsold_ratio,total_last_month_deal_count,total_last_month_full_rent_count,total_last_month_month_rent_count,1m_before_year,1m_before_month,1m_before_day,3m_before_year,3m_before_month,3m_before_day,6m_before_year,6m_before_month,6m_before_day,12m_before_year,12m_before_month,12m_before_day,temp_year_1m_before,temp_month_1m_before,temp_day_1m_before,kospi_index_1m_before,korea_rp_1m_before,korea_3_year_1m_before,korea_10_year_1m_before,korea_10-3_year_1m_before,us_3_month_1m_before,us_2_year_1m_before,us_10_year_1m_before,us_10-2_year_1m_before,us_10-3_year_month_1m_before,total_apartment_supply_1m_before,total_unsold_count_1m_before,total_unsold_ratio_1m_before,total_last_month_deal_count_1m_before,...,korea_10-3_year_3m_before,us_3_month_3m_before,us_2_year_3m_before,us_10_year_3m_before,us_10-2_year_3m_before,us_10-3_year_month_3m_before,total_apartment_supply_3m_before,total_unsold_count_3m_before,total_unsold_ratio_3m_before,total_last_month_deal_count_3m_before,total_last_month_full_rent_count_3m_before,total_last_month_month_rent_count_3m_before,temp_year_6m_before,temp_month_6m_before,temp_day_6m_before,kospi_index_6m_before,korea_rp_6m_before,korea_3_year_6m_before,korea_10_year_6m_before,korea_10-3_year_6m_before,us_3_month_6m_before,us_2_year_6m_before,us_10_year_6m_before,us_10-2_year_6m_before,us_10-3_year_month_6m_before,total_apartment_supply_6m_before,total_unsold_count_6m_before,total_unsold_ratio_6m_before,total_last_month_deal_count_6m_before,total_last_month_full_rent_count_6m_before,total_last_month_month_rent_count_6m_before,temp_year_12m_before,temp_month_12m_before,temp_day_12m_before,kospi_index_12m_before,korea_rp_12m_before,korea_3_year_12m_before,korea_10_year_12m_before,korea_10-3_year_12m_before,us_3_month_12m_before,us_2_year_12m_before,us_10_year_12m_before,us_10-2_year_12m_before,us_10-3_year_month_12m_before,total_apartment_supply_12m_before,total_unsold_count_12m_before,total_unsold_ratio_12m_before,total_last_month_deal_count_12m_before,total_last_month_full_rent_count_12m_before,total_last_month_month_rent_count_12m_before
0,2012-01-01,2012,1,1,86.8,1825.74,3.25,3.320,3.770,0.450,0.020,0.2470,1.876,1.6290,1.856,6960,1861,26.738506,3712,9861,1988,2011,12,1,2011,10,1,2011,7,1,2011,1,1,2011,12,1,-90.44,0.0,-0.070,-0.030,0.040,0.0230,-0.0110,-0.210,-0.1990,-0.2330,3196,60,-21.109528,193,...,0.020,-0.005,0.0000,-0.041,-0.0410,-0.036,5688,85,-112.884136,-466,589,-371,2011,7,1,-300.00,0.0,-0.445,-0.550,-0.105,0.002,-0.2270,-1.306,-1.0790,-1.308,2909,36,-18.312099,25,-147,-211,2011,1,1,-225.26,0.75,-0.120,-0.800,-0.680,-0.104,-0.3540,-1.458,-1.1040,-1.354,1615,-408,-15.712383,-3467,-2475,-526
1,2012-01-02,2012,1,2,86.8,1826.37,3.25,3.340,3.780,0.440,0.020,0.2470,1.873,1.6260,1.853,6960,1861,26.738506,3712,9861,1988,2011,12,2,2011,10,2,2011,7,2,2011,1,2,2011,12,2,-89.67,0.0,-0.040,-0.010,0.030,0.0170,-0.0070,-0.160,-0.1530,-0.1770,3196,60,-21.109528,193,...,0.010,-0.005,0.0000,-0.044,-0.0440,-0.039,5688,85,-112.884136,-466,589,-371,2011,7,2,-299.37,0.0,-0.425,-0.540,-0.115,0.002,-0.2270,-1.309,-1.0820,-1.311,2909,36,-18.312099,25,-147,-211,2011,1,2,-224.63,0.75,-0.100,-0.790,-0.690,-0.104,-0.3540,-1.461,-1.1070,-1.357,1615,-408,-15.712383,-3467,-2475,-526
2,2012-01-03,2012,1,3,86.8,1875.41,3.25,3.360,3.790,0.430,0.020,0.2590,1.956,1.6970,1.936,6960,1861,26.738506,3712,9861,1988,2011,12,3,2011,10,3,2011,7,3,2011,1,3,2011,12,3,-40.63,0.0,-0.020,0.000,0.020,0.0170,0.0050,-0.077,-0.0820,-0.0940,3196,60,-21.109528,193,...,0.000,0.012,0.0240,0.207,0.1830,0.195,5688,85,-112.884136,-466,589,-371,2011,7,3,-250.33,0.0,-0.405,-0.530,-0.125,0.002,-0.2150,-1.226,-1.0110,-1.228,2909,36,-18.312099,25,-147,-211,2011,1,3,-194.67,0.75,-0.080,-0.780,-0.700,-0.104,-0.3420,-1.378,-1.0360,-1.274,1615,-408,-15.712383,-3467,-2475,-526
3,2012-01-04,2012,1,4,86.8,1866.22,3.25,3.360,3.790,0.430,0.015,0.2630,1.984,1.7210,1.969,6960,1861,26.738506,3712,9861,1988,2011,12,4,2011,10,4,2011,7,4,2011,1,4,2011,12,4,-49.82,0.0,-0.020,0.000,0.020,0.0120,0.0090,-0.049,-0.0580,-0.0610,3196,60,-21.109528,193,...,0.150,0.007,0.0080,0.167,0.1590,0.160,5688,85,-112.884136,-466,589,-371,2011,7,4,-279.08,0.0,-0.415,-0.530,-0.115,0.000,-0.2110,-1.216,-1.0050,-1.216,2909,36,-18.312099,25,-147,-211,2011,1,4,-218.92,0.75,-0.135,-0.790,-0.655,-0.127,-0.3580,-1.354,-0.9960,-1.227,1615,-408,-15.712383,-3467,-2475,-526
4,2012-01-05,2012,1,5,86.8,1863.74,3.25,3.340,3.780,0.440,0.015,0.2630,1.996,1.7330,1.981,6960,1861,26.738506,3712,9861,1988,2011,12,5,2011,10,5,2011,7,5,2011,1,5,2011,12,5,-59.16,0.0,-0.040,0.000,0.040,0.0050,0.0010,-0.037,-0.0380,-0.0420,3196,60,-21.109528,193,...,0.160,0.012,0.0040,0.105,0.1010,0.093,5688,85,-112.884136,-466,589,-371,2011,7,5,-298.01,0.0,-0.430,-0.520,-0.090,0.010,-0.1710,-1.123,-0.9520,-1.133,2909,36,-18.312099,25,-147,-211,2011,1,5,-218.81,0.75,-0.155,-0.850,-0.695,-0.127,-0.4450,-1.467,-1.0220,-1.340,1615,-408,-15.712383,-3467,-2475,-526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,2022-12-27,2022,12,27,104.4,2332.79,3.25,3.661,3.612,-0.049,4.311,4.3827,3.849,-0.5337,-0.462,1759,865,49.175668,750,8890,7709,2022,11,27,2022,9,27,2022,6,27,2021,12,27,2022,11,27,-105.07,0.0,0.021,-0.001,-0.022,-0.0997,-0.0802,0.155,0.2352,0.2547,494,-1,-19.282830,176,...,0.039,0.983,0.0956,-0.100,-0.1956,-1.083,-94,255,16.256078,-10,-2451,294,2022,6,27,-69.13,1.5,0.091,-0.112,-0.203,2.626,1.2508,0.647,-0.6038,-1.979,1654,177,-606.062427,-1094,-2766,-987,2021,12,27,-666.76,2.25,1.885,1.400,-0.485,4.255,3.6779,2.372,-1.3059,-1.883,-266,811,46.509001,-695,-2296,1048
4014,2022-12-28,2022,12,28,104.4,2280.45,3.25,3.668,3.675,0.007,4.457,4.3574,3.886,-0.4714,-0.571,1759,865,49.175668,750,8890,7709,2022,11,28,2022,9,28,2022,6,28,2021,12,28,2022,11,28,-127.82,0.0,-0.002,0.065,0.067,0.0550,-0.0869,0.207,0.2939,0.1520,494,-1,-19.282830,176,...,-0.008,1.083,0.2307,0.149,-0.0817,-0.934,-94,255,16.256078,-10,-2451,294,2022,6,28,-141.64,1.5,0.129,0.011,-0.118,2.677,1.2458,0.709,-0.5368,-1.968,1654,177,-606.062427,-1094,-2766,-987,2021,12,28,-739.79,2.25,1.882,1.479,-0.403,4.396,3.6015,2.402,-1.1995,-1.994,-266,811,46.509001,-695,-2296,1048
4015,2022-12-29,2022,12,29,104.4,2236.40,3.25,3.718,3.723,0.005,4.423,4.3656,3.820,-0.5456,-0.603,1759,865,49.175668,750,8890,7709,2022,11,29,2022,9,29,2022,6,29,2021,12,29,2022,11,29,-196.99,0.0,-0.005,0.051,0.056,0.0390,-0.1158,0.070,0.1858,0.0310,494,-1,-19.282830,176,...,0.101,1.109,0.1732,0.038,-0.1352,-1.071,-94,255,16.256078,-10,-2451,294,2022,6,29,-141.59,1.5,0.171,0.056,-0.115,2.666,1.3230,0.733,-0.5900,-1.933,1654,177,-606.062427,-1094,-2766,-987,2021,12,29,-756.89,2.25,1.935,1.543,-0.392,4.372,3.6136,2.264,-1.3496,-2.108,-266,811,46.509001,-695,-2296,1048
4016,2022-12-30,2022,12,30,104.4,2236.40,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175668,750,8890,7709,2022,11,30,2022,9,30,2022,6,30,2021,12,30,2022,11,30,-236.13,0.0,0.059,0.081,0.022,0.0410,0.0992,0.268,0.1688,0.2270,494,-1,-19.282830,176,...,0.115,1.122,0.1553,0.050,-0.1053,-1.072,-94,255,16.256078,-10,-2451,294,2022,6,30,-96.24,1.5,0.176,0.098,-0.078,2.705,1.4725,0.862,-0.6105,-1.843,1654,177,-606.062427,-1094,-2766,-987,2021,12,30,-741.25,2.25,1.923,1.487,-0.436,4.359,3.6976,2.372,-1.3256,-1.987,-266,811,46.509001,-695,-2296,1048
4017,2022-12-31,2022,12,31,104.4,2236.40,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175668,750,8890,7709,2022,11,30,2022,9,30,2022,6,30,2021,12,31,2022,11,30,-236.13,0.0,0.059,0.081,0.022,0.0410,0.0992,0.268,0.1688,0.2270,494,-1,-19.282830,176,...,0.115,1.122,0.1553,0.050,-0.1053,-1.072,-94,255,16.256078,-10,-2451,294,2022,6,30,-96.24,1.5,0.176,0.098,-0.078,2.705,1.4725,0.862,-0.6105,-1.843,1654,177,-606.062427,-1094,-2766,-987,2021,12,31,-741.25,2.25,1.930,1.480,-0.450,4.352,3.6938,2.367,-1.3268,-1.985,-266,811,46.509001,-695,-2296,1048

In [20]:
# inf 값들을 null값로 수정한 후, null 값을 구해서 inf값과 null 값을 동시에 구함
import numpy as np
df_economic2.replace([np.inf, -np.inf], np.nan, inplace=True)
var = df_economic2.isnull().sum()
print(var.to_string())

date                                            0
year                                            0
month                                           0
day                                             0
apartment_index                                 0
kospi_index                                     0
korea_rp                                        0
korea_3_year                                    0
korea_10_year                                   0
korea_10-3_year                                 0
us_3_month                                      0
us_2_year                                       0
us_10_year                                      0
us_10-2_year                                    0
us_10-3_year_month                              0
total_apartment_supply                          0
total_unsold_count                              0
total_unsold_ratio                              0
total_last_month_deal_count                     0
total_last_month_full_rent_count                0
total_last_month_month_rent_count               0
1m_before_year                                  0
1m_before_month                                 0
1m_before_day                                   0
3m_before_year                                  0
3m_before_month                                 0
3m_before_day                                   0
6m_before_year                                  0
6m_before_month                                 0
6m_before_day                                   0
12m_before_year                                 0
12m_before_month                                0
12m_before_day                                  0
temp_year_1m_before                             0
temp_month_1m_before                            0
temp_day_1m_before                              0
kospi_index_1m_before                           0
korea_rp_1m_before                              0
korea_3_year_1m_before                          0
korea_10_year_1m_before                         0
korea_10-3_year_1m_before                       0
us_3_month_1m_before                            0
us_2_year_1m_before                             0
us_10_year_1m_before                            0
us_10-2_year_1m_before                          0
us_10-3_year_month_1m_before                    0
total_apartment_supply_1m_before                0
total_unsold_count_1m_before                    0
total_unsold_ratio_1m_before                    0
total_last_month_deal_count_1m_before           0
total_last_month_full_rent_count_1m_before      0
total_last_month_month_rent_count_1m_before     0
temp_year_3m_before                             0
temp_month_3m_before                            0
temp_day_3m_before                              0
kospi_index_3m_before                           0
korea_rp_3m_before                              0
korea_3_year_3m_before                          0
korea_10_year_3m_before                         0
korea_10-3_year_3m_before                       0
us_3_month_3m_before                            0
us_2_year_3m_before                             0
us_10_year_3m_before                            0
us_10-2_year_3m_before                          0
us_10-3_year_month_3m_before                    0
total_apartment_supply_3m_before                0
total_unsold_count_3m_before                    0
total_unsold_ratio_3m_before                    0
total_last_month_deal_count_3m_before           0
total_last_month_full_rent_count_3m_before      0
total_last_month_month_rent_count_3m_before     0
temp_year_6m_before                             0
temp_month_6m_before                            0
temp_day_6m_before                              0
kospi_index_6m_before                           0
korea_rp_6m_before                              0
korea_3_year_6m_before                          0
korea_10_year_6m_before                         0
korea_10-3_year_6m_before                       0
us_3_month_6m_before                            0
us_2_year_6m_before                             0
us_10_year_6m_before                            0
us_10-2_year_6m_before                          0
us_10-3_year_month_6m_before                    0
total_apartment_supply_6m_before                0
total_unsold_count_6m_before                    0
total_unsold_ratio_6m_before                    0
total_last_month_deal_count_6m_before           0
total_last_month_full_rent_count_6m_before      0
total_last_month_month_rent_count_6m_before     0
temp_year_12m_before                            0
temp_month_12m_before                           0
temp_day_12m_before                             0
kospi_index_12m_before                          0
korea_rp_12m_before                             0
korea_3_year_12m_before                         0
korea_10_year_12m_before                        0
korea_10-3_year_12m_before                      0
us_3_month_12m_before                           0
us_2_year_12m_before                            0
us_10_year_12m_before                           0
us_10-2_year_12m_before                         0
us_10-3_year_month_12m_before                   0
total_apartment_supply_12m_before               0
total_unsold_count_12m_before                   0
total_unsold_ratio_12m_before                   0
total_last_month_deal_count_12m_before          0
total_last_month_full_rent_count_12m_before     0
total_last_month_month_rent_count_12m_before    0

In [21]:
df_economic2.drop(["1m_before_year", "1m_before_month","1m_before_day",
                 "3m_before_year", "3m_before_month","3m_before_day",
                 "6m_before_year", "6m_before_month","6m_before_day",
                 "12m_before_year", "12m_before_month","12m_before_day",
                 "temp_year_1m_before", "temp_month_1m_before","temp_day_1m_before",
                 "temp_year_3m_before", "temp_month_3m_before","temp_day_3m_before",
                 "temp_year_6m_before", "temp_month_6m_before","temp_day_6m_before",
                 "temp_year_12m_before", "temp_month_12m_before","temp_day_12m_before"], 
                 inplace=True,axis=1)

In [22]:
df_economic2

,date,year,month,day,apartment_index,kospi_index,korea_rp,korea_3_year,korea_10_year,korea_10-3_year,us_3_month,us_2_year,us_10_year,us_10-2_year,us_10-3_year_month,total_apartment_supply,total_unsold_count,total_unsold_ratio,total_last_month_deal_count,total_last_month_full_rent_count,total_last_month_month_rent_count,kospi_index_1m_before,korea_rp_1m_before,korea_3_year_1m_before,korea_10_year_1m_before,korea_10-3_year_1m_before,us_3_month_1m_before,us_2_year_1m_before,us_10_year_1m_before,us_10-2_year_1m_before,us_10-3_year_month_1m_before,total_apartment_supply_1m_before,total_unsold_count_1m_before,total_unsold_ratio_1m_before,total_last_month_deal_count_1m_before,total_last_month_full_rent_count_1m_before,total_last_month_month_rent_count_1m_before,kospi_index_3m_before,korea_rp_3m_before,korea_3_year_3m_before,korea_10_year_3m_before,korea_10-3_year_3m_before,us_3_month_3m_before,us_2_year_3m_before,us_10_year_3m_before,us_10-2_year_3m_before,us_10-3_year_month_3m_before,total_apartment_supply_3m_before,total_unsold_count_3m_before,total_unsold_ratio_3m_before,total_last_month_deal_count_3m_before,total_last_month_full_rent_count_3m_before,total_last_month_month_rent_count_3m_before,kospi_index_6m_before,korea_rp_6m_before,korea_3_year_6m_before,korea_10_year_6m_before,korea_10-3_year_6m_before,us_3_month_6m_before,us_2_year_6m_before,us_10_year_6m_before,us_10-2_year_6m_before,us_10-3_year_month_6m_before,total_apartment_supply_6m_before,total_unsold_count_6m_before,total_unsold_ratio_6m_before,total_last_month_deal_count_6m_before,total_last_month_full_rent_count_6m_before,total_last_month_month_rent_count_6m_before,kospi_index_12m_before,korea_rp_12m_before,korea_3_year_12m_before,korea_10_year_12m_before,korea_10-3_year_12m_before,us_3_month_12m_before,us_2_year_12m_before,us_10_year_12m_before,us_10-2_year_12m_before,us_10-3_year_month_12m_before,total_apartment_supply_12m_before,total_unsold_count_12m_before,total_unsold_ratio_12m_before,total_last_month_deal_count_12m_before,total_last_month_full_rent_count_12m_before,total_last_month_month_rent_count_12m_before
0,2012-01-01,2012,1,1,86.8,1825.74,3.25,3.320,3.770,0.450,0.020,0.2470,1.876,1.6290,1.856,6960,1861,26.738506,3712,9861,1988,-90.44,0.0,-0.070,-0.030,0.040,0.0230,-0.0110,-0.210,-0.1990,-0.2330,3196,60,-21.109528,193,1629,165,56.09,0.00,-0.180,-0.160,0.020,-0.005,0.0000,-0.041,-0.0410,-0.036,5688,85,-112.884136,-466,589,-371,-300.00,0.0,-0.445,-0.550,-0.105,0.002,-0.2270,-1.306,-1.0790,-1.308,2909,36,-18.312099,25,-147,-211,-225.26,0.75,-0.120,-0.800,-0.680,-0.104,-0.3540,-1.458,-1.1040,-1.354,1615,-408,-15.712383,-3467,-2475,-526
1,2012-01-02,2012,1,2,86.8,1826.37,3.25,3.340,3.780,0.440,0.020,0.2470,1.873,1.6260,1.853,6960,1861,26.738506,3712,9861,1988,-89.67,0.0,-0.040,-0.010,0.030,0.0170,-0.0070,-0.160,-0.1530,-0.1770,3196,60,-21.109528,193,1629,165,56.72,0.00,-0.160,-0.150,0.010,-0.005,0.0000,-0.044,-0.0440,-0.039,5688,85,-112.884136,-466,589,-371,-299.37,0.0,-0.425,-0.540,-0.115,0.002,-0.2270,-1.309,-1.0820,-1.311,2909,36,-18.312099,25,-147,-211,-224.63,0.75,-0.100,-0.790,-0.690,-0.104,-0.3540,-1.461,-1.1070,-1.357,1615,-408,-15.712383,-3467,-2475,-526
2,2012-01-03,2012,1,3,86.8,1875.41,3.25,3.360,3.790,0.430,0.020,0.2590,1.956,1.6970,1.936,6960,1861,26.738506,3712,9861,1988,-40.63,0.0,-0.020,0.000,0.020,0.0170,0.0050,-0.077,-0.0820,-0.0940,3196,60,-21.109528,193,1629,165,105.76,0.00,-0.140,-0.140,0.000,0.012,0.0240,0.207,0.1830,0.195,5688,85,-112.884136,-466,589,-371,-250.33,0.0,-0.405,-0.530,-0.125,0.002,-0.2150,-1.226,-1.0110,-1.228,2909,36,-18.312099,25,-147,-211,-194.67,0.75,-0.080,-0.780,-0.700,-0.104,-0.3420,-1.378,-1.0360,-1.274,1615,-408,-15.712383,-3467,-2475,-526
3,2012-01-04,2012,1,4,86.8,1866.22,3.25,3.360,3.790,0.430,0.015,0.2630,1.984,1.7210,1.969,6960,1861,26.738506,3712,9861,1988,-49.82,0.0,-0.020,0.000,0.020,0.0120,0.0090,-0.049,-0.0580,-0.0610,3196,60,-21.109528,193,1629,165,160.03,0.00,-0.160,-0.010,0.150,0.007,0.0080,0.167,0.1590,0.160,5688,85,-112.884136,-466,589,-371,-279.08,0.0,-0.415,-0.530,-0.115,0.000,-0.2110,-1.216,-1.0050,-1.216,2909,36,-18.312099,25,-147,-211,-218.92,0.75,-0.135,-0.790,-0.655,-0.127,-0.3580,-1.354,-0.9960,-1.227,1615,-408,-15.712383,-3467,-2475,-526
4,2012-01-05,2012,1,5,86.8,1863.74,3.25,3.340,3.780,0.440,0.015,0.2630,1.996,1.7330,1.981,6960,1861,26.738506,3712,9861,1988,-59.16,0.0,-0.040,0.000,0.040,0.0050,0.0010,-0.037,-0.0380,-0.0420,3196,60,-21.109528,193,1629,165,197.22,0.00,-0.160,0.000,0.160,0.012,0.0040,0.105,0.1010,0.093,5688,85,-112.884136,-466,589,-371,-298.01,0.0,-0.430,-0.520,-0.090,0.010,-0.1710,-1.123,-0.9520,-1.133,2909,36,-18.312099,25,-147,-211,-218.81,0.75,-0.155,-0.850,-0.695,-0.127,-0.4450,-1.467,-1.0220,-1.340,1615,-408,-15.712383,-3467,-2475,-526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,2022-12-27,2022,12,27,104.4,2332.79,3.25,3.661,3.612,-0.049,4.311,4.3827,3.849,-0.5337,-0.462,1759,865,49.175668,750,8890,7709,-105.07,0.0,0.021,-0.001,-0.022,-0.0997,-0.0802,0.155,0.2352,0.2547,494,-1,-19.282830,176,-1669,15,108.93,0.75,-0.633,-0.594,0.039,0.983,0.0956,-0.100,-0.1956,-1.083,-94,255,16.256078,-10,-2451,294,-69.13,1.5,0.091,-0.112,-0.203,2.626,1.2508,0.647,-0.6038,-1.979,1654,177,-606.062427,-1094,-2766,-987,-666.76,2.25,1.885,1.400,-0.485,4.255,3.6779,2.372,-1.3059,-1.883,-266,811,46.509001,-695,-2296,1048
4014,2022-12-28,2022,12,28,104.4,2280.45,3.25,3.668,3.675,0.007,4.457,4.3574,3.886,-0.4714,-0.571,1759,865,49.175668,750,8890,7709,-127.82,0.0,-0.002,0.065,0.067,0.0550,-0.0869,0.207,0.2939,0.1520,494,-1,-19.282830,176,-1669,15,111.16,0.75,-0.548,-0.556,-0.008,1.083,0.2307,0.149,-0.0817,-0.934,-94,255,16.256078,-10,-2451,294,-141.64,1.5,0.129,0.011,-0.118,2.677,1.2458,0.709,-0.5368,-1.968,1654,177,-606.062427,-1094,-2766,-987,-739.79,2.25,1.882,1.479,-0.403,4.396,3.6015,2.402,-1.1995,-1.994,-266,811,46.509001,-695,-2296,1048
4015,2022-12-29,2022,12,29,104.4,2236.40,3.25,3.718,3.723,0.005,4.423,4.3656,3.820,-0.5456,-0.603,1759,865,49.175668,750,8890,7709,-196.99,0.0,-0.005,0.051,0.056,0.0390,-0.1158,0.070,0.1858,0.0310,494,-1,-19.282830,176,-1669,15,65.47,0.75,-0.605,-0.504,0.101,1.109,0.1732,0.038,-0.1352,-1.071,-94,255,16.256078,-10,-2451,294,-141.59,1.5,0.171,0.056,-0.115,2.666,1.3230,0.733,-0.5900,-1.933,1654,177,-606.062427,-1094,-2766,-987,-756.89,2.25,1.935,1.543,-0.392,4.372,3.6136,2.264,-1.3496,-2.108,-266,811,46.509001,-695,-2296,1048
4016,2022-12-30,2022,12,30,104.4,2236.40,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175668,750,8890,7709,-236.13,0.0,0.059,0.081,0.022,0.0410,0.0992,0.268,0.1688,0.2270,494,-1,-19.282830,176,-1669,15,80.91,0.75,-0.489,-0.374,0.115,1.122,0.1553,0.050,-0.1053,-1.072,-94,255,16.256078,-10,-2451,294,-96.24,1.5,0.176,0.098,-0.078,2.705,1.4725,0.862,-0.6105,-1.843,1654,177,-606.062427,-1094,-2766,-987,-741.25,2.25,1.923,1.487,-0.436,4.359,3.6976,2.372,-1.3256,-1.987,-266,811,46.509001,-695,-2296,1048
4017,2022-12-31,2022,12,31,104.4,2236.40,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175668,750,8890,7709,-236.13,0.0,0.059,0.081,0.022,0.0410,0.0992,0.268,0.1688,0.2270,494,-1,-19.282830,176,-1669,15,80.91,0.75,-0.489,-0.374,0.115,1.122,0.1553,0.050,-0.1053,-1.072,-94,255,16.256078,-10,-2451,294,-96.24,1.5,0.176,0.098,-0.078,2.705,1.4725,0.862,-0.6105,-1.843,1654,177,-606.062427,-1094,-2766,-987,-741.25,2.25,1.930,1.480,-0.450,4.352,3.6938,2.367,-1.3268,-1.985,-266,811,46.509001,-695,-2296,1048

In [23]:
df_economic2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4018 entries, 0 to 4017
Data columns (total 85 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   date                                          4018 non-null   object
 1   year                                          4018 non-null   int16
 2   month                                         4018 non-null   int16
 3   day                                           4018 non-null   int16
 4   apartment_index                               4018 non-null   float64
 5   kospi_index                                   4018 non-null   float64
 6   korea_rp                                      4018 non-null   float64
 7   korea_3_year                                  4018 non-null   float64
 8   korea_10_year                                 4018 non-null   float64
 9   korea_10-3_year                               4018 non-null   float64
 10  us_3_month                                    4018 non-null   float64
 11  us_2_year                                     4018 non-null   float64
 12  us_10_year                                    4018 non-null   float64
 13  us_10-2_year                                  4018 non-null   float64
 14  us_10-3_year_month                            4018 non-null   float64
 15  total_apartment_supply                        4018 non-null   int32
 16  total_unsold_count                            4018 non-null   int32
 17  total_unsold_ratio                            4018 non-null   float64
 18  total_last_month_deal_count                   4018 non-null   int32
 19  total_last_month_full_rent_count              4018 non-null   int32
 20  total_last_month_month_rent_count             4018 non-null   int32
 21  kospi_index_1m_before                         4018 non-null   float64
 22  korea_rp_1m_before                            4018 non-null   float64
 23  korea_3_year_1m_before                        4018 non-null   float64
 24  korea_10_year_1m_before                       4018 non-null   float64
 25  korea_10-3_year_1m_before                     4018 non-null   float64
 26  us_3_month_1m_before                          4018 non-null   float64
 27  us_2_year_1m_before                           4018 non-null   float64
 28  us_10_year_1m_before                          4018 non-null   float64
 29  us_10-2_year_1m_before                        4018 non-null   float64
 30  us_10-3_year_month_1m_before                  4018 non-null   float64
 31  total_apartment_supply_1m_before              4018 non-null   int32
 32  total_unsold_count_1m_before                  4018 non-null   int32
 33  total_unsold_ratio_1m_before                  4018 non-null   float64
 34  total_last_month_deal_count_1m_before         4018 non-null   int32
 35  total_last_month_full_rent_count_1m_before    4018 non-null   int32
 36  total_last_month_month_rent_count_1m_before   4018 non-null   int32
 37  kospi_index_3m_before                         4018 non-null   float64
 38  korea_rp_3m_before                            4018 non-null   float64
 39  korea_3_year_3m_before                        4018 non-null   float64
 40  korea_10_year_3m_before                       4018 non-null   float64
 41  korea_10-3_year_3m_before                     4018 non-null   float64
 42  us_3_month_3m_before                          4018 non-null   float64
 43  us_2_year_3m_before                           4018 non-null   float64
 44  us_10_year_3m_before                          4018 non-null   float64
 45  us_10-2_year_3m_before                        4018 non-null   float64
 46  us_10-3_year_month_3m_before                  4018 non-null   float64
 47  total_apartment_supply_3m_before              4018 non-null   int32
 48  total_unsold_count_3m_before                  4018 non-null   int32
 49  total_unsold_ratio_3m_before                  4018 non-null   float64
 50  total_last_month_deal_count_3m_before         4018 non-null   int32
 51  total_last_month_full_rent_count_3m_before    4018 non-null   int32
 52  total_last_month_month_rent_count_3m_before   4018 non-null   int32
 53  kospi_index_6m_before                         4018 non-null   float64
 54  korea_rp_6m_before                            4018 non-null   float64
 55  korea_3_year_6m_before                        4018 non-null   float64
 56  korea_10_year_6m_before                       4018 non-null   float64
 57  korea_10-3_year_6m_before                     4018 non-null   float64
 58  us_3_month_6m_before                          4018 non-null   float64
 59  us_2_year_6m_before                           4018 non-null   float64
 60  us_10_year_6m_before                          4018 non-null   float64
 61  us_10-2_year_6m_before                        4018 non-null   float64
 62  us_10-3_year_month_6m_before                  4018 non-null   float64
 63  total_apartment_supply_6m_before              4018 non-null   int32
 64  total_unsold_count_6m_before                  4018 non-null   int32
 65  total_unsold_ratio_6m_before                  4018 non-null   float64
 66  total_last_month_deal_count_6m_before         4018 non-null   int32
 67  total_last_month_full_rent_count_6m_before    4018 non-null   int32
 68  total_last_month_month_rent_count_6m_before   4018 non-null   int32
 69  kospi_index_12m_before                        4018 non-null   float64
 70  korea_rp_12m_before                           4018 non-null   float64
 71  korea_3_year_12m_before                       4018 non-null   float64
 72  korea_10_year_12m_before                      4018 non-null   float64
 73  korea_10-3_year_12m_before                    4018 non-null   float64
 74  us_3_month_12m_before                         4018 non-null   float64
 75  us_2_year_12m_before                          4018 non-null   float64
 76  us_10_year_12m_before                         4018 non-null   float64
 77  us_10-2_year_12m_before                       4018 non-null   float64
 78  us_10-3_year_month_12m_before                 4018 non-null   float64
 79  total_apartment_supply_12m_before             4018 non-null   int32
 80  total_unsold_count_12m_before                 4018 non-null   int32
 81  total_unsold_ratio_12m_before                 4018 non-null   float64
 82  total_last_month_deal_count_12m_before        4018 non-null   int32
 83  total_last_month_full_rent_count_12m_before   4018 non-null   int32
 84  total_last_month_month_rent_count_12m_before  4018 non-null   int32
dtypes: float64(56), int16(3), int32(25), object(1)
memory usage: 2.2+ MB

In [31]:
# type 이 floay64 인 컬럼을 float32로 변경
df_economic2_columns = list(df_economic2.columns)
for df_economic2_column in df_economic2_columns:
    if df_economic2[df_economic2_column].dtypes =='float64':
        df_economic2[df_economic2_column]=df_economic2[df_economic2_column].astype('float32')
    else:
        pass

In [32]:
df_economic2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4018 entries, 0 to 4017
Data columns (total 85 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   date                                          4018 non-null   object
 1   year                                          4018 non-null   int16
 2   month                                         4018 non-null   int16
 3   day                                           4018 non-null   int16
 4   apartment_index                               4018 non-null   float32
 5   kospi_index                                   4018 non-null   float32
 6   korea_rp                                      4018 non-null   float32
 7   korea_3_year                                  4018 non-null   float32
 8   korea_10_year                                 4018 non-null   float32
 9   korea_10-3_year                               4018 non-null   float32
 10  us_3_month                                    4018 non-null   float32
 11  us_2_year                                     4018 non-null   float32
 12  us_10_year                                    4018 non-null   float32
 13  us_10-2_year                                  4018 non-null   float32
 14  us_10-3_year_month                            4018 non-null   float32
 15  total_apartment_supply                        4018 non-null   int32
 16  total_unsold_count                            4018 non-null   int32
 17  total_unsold_ratio                            4018 non-null   float32
 18  total_last_month_deal_count                   4018 non-null   int32
 19  total_last_month_full_rent_count              4018 non-null   int32
 20  total_last_month_month_rent_count             4018 non-null   int32
 21  kospi_index_1m_before                         4018 non-null   float32
 22  korea_rp_1m_before                            4018 non-null   float32
 23  korea_3_year_1m_before                        4018 non-null   float32
 24  korea_10_year_1m_before                       4018 non-null   float32
 25  korea_10-3_year_1m_before                     4018 non-null   float32
 26  us_3_month_1m_before                          4018 non-null   float32
 27  us_2_year_1m_before                           4018 non-null   float32
 28  us_10_year_1m_before                          4018 non-null   float32
 29  us_10-2_year_1m_before                        4018 non-null   float32
 30  us_10-3_year_month_1m_before                  4018 non-null   float32
 31  total_apartment_supply_1m_before              4018 non-null   int32
 32  total_unsold_count_1m_before                  4018 non-null   int32
 33  total_unsold_ratio_1m_before                  4018 non-null   float32
 34  total_last_month_deal_count_1m_before         4018 non-null   int32
 35  total_last_month_full_rent_count_1m_before    4018 non-null   int32
 36  total_last_month_month_rent_count_1m_before   4018 non-null   int32
 37  kospi_index_3m_before                         4018 non-null   float32
 38  korea_rp_3m_before                            4018 non-null   float32
 39  korea_3_year_3m_before                        4018 non-null   float32
 40  korea_10_year_3m_before                       4018 non-null   float32
 41  korea_10-3_year_3m_before                     4018 non-null   float32
 42  us_3_month_3m_before                          4018 non-null   float32
 43  us_2_year_3m_before                           4018 non-null   float32
 44  us_10_year_3m_before                          4018 non-null   float32
 45  us_10-2_year_3m_before                        4018 non-null   float32
 46  us_10-3_year_month_3m_before                  4018 non-null   float32
 47  total_apartment_supply_3m_before              4018 non-null   int32
 48  total_unsold_count_3m_before                  4018 non-null   int32
 49  total_unsold_ratio_3m_before                  4018 non-null   float32
 50  total_last_month_deal_count_3m_before         4018 non-null   int32
 51  total_last_month_full_rent_count_3m_before    4018 non-null   int32
 52  total_last_month_month_rent_count_3m_before   4018 non-null   int32
 53  kospi_index_6m_before                         4018 non-null   float32
 54  korea_rp_6m_before                            4018 non-null   float32
 55  korea_3_year_6m_before                        4018 non-null   float32
 56  korea_10_year_6m_before                       4018 non-null   float32
 57  korea_10-3_year_6m_before                     4018 non-null   float32
 58  us_3_month_6m_before                          4018 non-null   float32
 59  us_2_year_6m_before                           4018 non-null   float32
 60  us_10_year_6m_before                          4018 non-null   float32
 61  us_10-2_year_6m_before                        4018 non-null   float32
 62  us_10-3_year_month_6m_before                  4018 non-null   float32
 63  total_apartment_supply_6m_before              4018 non-null   int32
 64  total_unsold_count_6m_before                  4018 non-null   int32
 65  total_unsold_ratio_6m_before                  4018 non-null   float32
 66  total_last_month_deal_count_6m_before         4018 non-null   int32
 67  total_last_month_full_rent_count_6m_before    4018 non-null   int32
 68  total_last_month_month_rent_count_6m_before   4018 non-null   int32
 69  kospi_index_12m_before                        4018 non-null   float32
 70  korea_rp_12m_before                           4018 non-null   float32
 71  korea_3_year_12m_before                       4018 non-null   float32
 72  korea_10_year_12m_before                      4018 non-null   float32
 73  korea_10-3_year_12m_before                    4018 non-null   float32
 74  us_3_month_12m_before                         4018 non-null   float32
 75  us_2_year_12m_before                          4018 non-null   float32
 76  us_10_year_12m_before                         4018 non-null   float32
 77  us_10-2_year_12m_before                       4018 non-null   float32
 78  us_10-3_year_month_12m_before                 4018 non-null   float32
 79  total_apartment_supply_12m_before             4018 non-null   int32
 80  total_unsold_count_12m_before                 4018 non-null   int32
 81  total_unsold_ratio_12m_before                 4018 non-null   float32
 82  total_last_month_deal_count_12m_before        4018 non-null   int32
 83  total_last_month_full_rent_count_12m_before   4018 non-null   int32
 84  total_last_month_month_rent_count_12m_before  4018 non-null   int32
dtypes: float32(56), int16(3), int32(25), object(1)
memory usage: 1.3+ MB

In [34]:
df_economic2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4018 entries, 0 to 4017
Data columns (total 85 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   date                                                      4018 non-null   object
 1   year                                                      4018 non-null   int16
 2   month                                                     4018 non-null   int16
 3   day                                                       4018 non-null   int16
 4   apartment_index                                           4018 non-null   float32
 5   kospi_index                                               4018 non-null   float32
 6   korea_rp                                                  4018 non-null   float32
 7   korea_3_year                                              4018 non-null   float32
 8   korea_10_year                                             4018 non-null   float32
 9   korea_10-3_year                                           4018 non-null   float32
 10  us_3_month                                                4018 non-null   float32
 11  us_2_year                                                 4018 non-null   float32
 12  us_10_year                                                4018 non-null   float32
 13  us_10-2_year                                              4018 non-null   float32
 14  us_10-3_year_month                                        4018 non-null   float32
 15  total_apartment_supply                                    4018 non-null   int32
 16  total_unsold_count                                        4018 non-null   int32
 17  total_unsold_ratio                                        4018 non-null   float32
 18  total_last_month_deal_count                               4018 non-null   int32
 19  total_last_month_full_rent_count                          4018 non-null   int32
 20  total_last_month_month_rent_count                         4018 non-null   int32
 21  kospi_index_1m_before_change_rate                         4018 non-null   float32
 22  korea_rp_1m_before_change_rate                            4018 non-null   float32
 23  korea_3_year_1m_before_change_rate                        4018 non-null   float32
 24  korea_10_year_1m_before_change_rate                       4018 non-null   float32
 25  korea_10-3_year_1m_before_change_rate                     4018 non-null   float32
 26  us_3_month_1m_before_change_rate                          4018 non-null   float32
 27  us_2_year_1m_before_change_rate                           4018 non-null   float32
 28  us_10_year_1m_before_change_rate                          4018 non-null   float32
 29  us_10-2_year_1m_before_change_rate                        4018 non-null   float32
 30  us_10-3_year_month_1m_before_change_rate                  4018 non-null   float32
 31  total_apartment_supply_1m_before_change_rate              4018 non-null   float32
 32  total_unsold_count_1m_before_change_rate                  4018 non-null   float32
 33  total_unsold_ratio_1m_before_change_rate                  4018 non-null   float32
 34  total_last_month_deal_count_1m_before_change_rate         4018 non-null   float32
 35  total_last_month_full_rent_count_1m_before_change_rate    4018 non-null   float32
 36  total_last_month_month_rent_count_1m_before_change_rate   4018 non-null   float32
 37  kospi_index_3m_before_change_rate                         4018 non-null   float32
 38  korea_rp_3m_before_change_rate                            4018 non-null   float32
 39  korea_3_year_3m_before_change_rate                        4018 non-null   float32
 40  korea_10_year_3m_before_change_rate                       4018 non-null   float32
 41  korea_10-3_year_3m_before_change_rate                     4018 non-null   float32
 42  us_3_month_3m_before_change_rate                          4018 non-null   float32
 43  us_2_year_3m_before_change_rate                           4018 non-null   float32
 44  us_10_year_3m_before_change_rate                          4018 non-null   float32
 45  us_10-2_year_3m_before_change_rate                        4018 non-null   float32
 46  us_10-3_year_month_3m_before_change_rate                  4018 non-null   float32
 47  total_apartment_supply_3m_before_change_rate              4018 non-null   float32
 48  total_unsold_count_3m_before_change_rate                  4018 non-null   float32
 49  total_unsold_ratio_3m_before_change_rate                  4018 non-null   float32
 50  total_last_month_deal_count_3m_before_change_rate         4018 non-null   float32
 51  total_last_month_full_rent_count_3m_before_change_rate    4018 non-null   float32
 52  total_last_month_month_rent_count_3m_before_change_rate   4018 non-null   float32
 53  kospi_index_6m_before_change_rate                         4018 non-null   float32
 54  korea_rp_6m_before_change_rate                            4018 non-null   float32
 55  korea_3_year_6m_before_change_rate                        4018 non-null   float32
 56  korea_10_year_6m_before_change_rate                       4018 non-null   float32
 57  korea_10-3_year_6m_before_change_rate                     4018 non-null   float32
 58  us_3_month_6m_before_change_rate                          4018 non-null   float32
 59  us_2_year_6m_before_change_rate                           4018 non-null   float32
 60  us_10_year_6m_before_change_rate                          4018 non-null   float32
 61  us_10-2_year_6m_before_change_rate                        4018 non-null   float32
 62  us_10-3_year_month_6m_before_change_rate                  4018 non-null   float32
 63  total_apartment_supply_6m_before_change_rate              4018 non-null   float32
 64  total_unsold_count_6m_before_change_rate                  4018 non-null   float32
 65  total_unsold_ratio_6m_before_change_rate                  4018 non-null   float32
 66  total_last_month_deal_count_6m_before_change_rate         4018 non-null   float32
 67  total_last_month_full_rent_count_6m_before_change_rate    4018 non-null   float32
 68  total_last_month_month_rent_count_6m_before_change_rate   4018 non-null   float32
 69  kospi_index_12m_before_change_rate                        4018 non-null   float32
 70  korea_rp_12m_before_change_rate                           4018 non-null   float32
 71  korea_3_year_12m_before_change_rate                       4018 non-null   float32
 72  korea_10_year_12m_before_change_rate                      4018 non-null   float32
 73  korea_10-3_year_12m_before_change_rate                    4018 non-null   float32
 74  us_3_month_12m_before_change_rate                         4018 non-null   float32
 75  us_2_year_12m_before_change_rate                          4018 non-null   float32
 76  us_10_year_12m_before_change_rate                         4018 non-null   float32
 77  us_10-2_year_12m_before_change_rate                       4018 non-null   float32
 78  us_10-3_year_month_12m_before_change_rate                 4018 non-null   float32
 79  total_apartment_supply_12m_before_change_rate             4018 non-null   float32
 80  total_unsold_count_12m_before_change_rate                 4018 non-null   float32
 81  total_unsold_ratio_12m_before_change_rate                 4018 non-null   float32
 82  total_last_month_deal_count_12m_before_change_rate        4018 non-null   float32
 83  total_last_month_full_rent_count_12m_before_change_rate   4018 non-null   float32
 84  total_last_month_month_rent_count_12m_before_change_rate  4018 non-null   float32
dtypes: float32(76), int16(3), int32(5), object(1)
memory usage: 1.3+ MB

In [33]:
df_economic2

,date,year,month,day,apartment_index,kospi_index,korea_rp,korea_3_year,korea_10_year,korea_10-3_year,us_3_month,us_2_year,us_10_year,us_10-2_year,us_10-3_year_month,total_apartment_supply,total_unsold_count,total_unsold_ratio,total_last_month_deal_count,total_last_month_full_rent_count,total_last_month_month_rent_count,kospi_index_1m_before,korea_rp_1m_before,korea_3_year_1m_before,korea_10_year_1m_before,korea_10-3_year_1m_before,us_3_month_1m_before,us_2_year_1m_before,us_10_year_1m_before,us_10-2_year_1m_before,us_10-3_year_month_1m_before,total_apartment_supply_1m_before,total_unsold_count_1m_before,total_unsold_ratio_1m_before,total_last_month_deal_count_1m_before,total_last_month_full_rent_count_1m_before,total_last_month_month_rent_count_1m_before,kospi_index_3m_before,korea_rp_3m_before,korea_3_year_3m_before,korea_10_year_3m_before,korea_10-3_year_3m_before,us_3_month_3m_before,us_2_year_3m_before,us_10_year_3m_before,us_10-2_year_3m_before,us_10-3_year_month_3m_before,total_apartment_supply_3m_before,total_unsold_count_3m_before,total_unsold_ratio_3m_before,total_last_month_deal_count_3m_before,total_last_month_full_rent_count_3m_before,total_last_month_month_rent_count_3m_before,kospi_index_6m_before,korea_rp_6m_before,korea_3_year_6m_before,korea_10_year_6m_before,korea_10-3_year_6m_before,us_3_month_6m_before,us_2_year_6m_before,us_10_year_6m_before,us_10-2_year_6m_before,us_10-3_year_month_6m_before,total_apartment_supply_6m_before,total_unsold_count_6m_before,total_unsold_ratio_6m_before,total_last_month_deal_count_6m_before,total_last_month_full_rent_count_6m_before,total_last_month_month_rent_count_6m_before,kospi_index_12m_before,korea_rp_12m_before,korea_3_year_12m_before,korea_10_year_12m_before,korea_10-3_year_12m_before,us_3_month_12m_before,us_2_year_12m_before,us_10_year_12m_before,us_10-2_year_12m_before,us_10-3_year_month_12m_before,total_apartment_supply_12m_before,total_unsold_count_12m_before,total_unsold_ratio_12m_before,total_last_month_deal_count_12m_before,total_last_month_full_rent_count_12m_before,total_last_month_month_rent_count_12m_before
0,2012-01-01,2012,1,1,86.800003,1825.739990,3.25,3.320,3.770,0.450,0.020,0.2470,1.876,1.6290,1.856,6960,1861,26.738506,3712,9861,1988,-90.440002,0.0,-0.070,-0.030,0.040,0.0230,-0.0110,-0.210,-0.1990,-0.2330,3196,60,-21.109528,193,1629,165,56.090000,0.00,-0.180,-0.160,0.020,-0.005,0.0000,-0.041,-0.0410,-0.036,5688,85,-112.884132,-466,589,-371,-300.000000,0.0,-0.445,-0.550,-0.105,0.002,-0.2270,-1.306,-1.0790,-1.308,2909,36,-18.312099,25,-147,-211,-225.259995,0.75,-0.120,-0.800,-0.680,-0.104,-0.3540,-1.458,-1.1040,-1.354,1615,-408,-15.712383,-3467,-2475,-526
1,2012-01-02,2012,1,2,86.800003,1826.369995,3.25,3.340,3.780,0.440,0.020,0.2470,1.873,1.6260,1.853,6960,1861,26.738506,3712,9861,1988,-89.669998,0.0,-0.040,-0.010,0.030,0.0170,-0.0070,-0.160,-0.1530,-0.1770,3196,60,-21.109528,193,1629,165,56.720001,0.00,-0.160,-0.150,0.010,-0.005,0.0000,-0.044,-0.0440,-0.039,5688,85,-112.884132,-466,589,-371,-299.369995,0.0,-0.425,-0.540,-0.115,0.002,-0.2270,-1.309,-1.0820,-1.311,2909,36,-18.312099,25,-147,-211,-224.630005,0.75,-0.100,-0.790,-0.690,-0.104,-0.3540,-1.461,-1.1070,-1.357,1615,-408,-15.712383,-3467,-2475,-526
2,2012-01-03,2012,1,3,86.800003,1875.410034,3.25,3.360,3.790,0.430,0.020,0.2590,1.956,1.6970,1.936,6960,1861,26.738506,3712,9861,1988,-40.630001,0.0,-0.020,0.000,0.020,0.0170,0.0050,-0.077,-0.0820,-0.0940,3196,60,-21.109528,193,1629,165,105.760002,0.00,-0.140,-0.140,0.000,0.012,0.0240,0.207,0.1830,0.195,5688,85,-112.884132,-466,589,-371,-250.330002,0.0,-0.405,-0.530,-0.125,0.002,-0.2150,-1.226,-1.0110,-1.228,2909,36,-18.312099,25,-147,-211,-194.669998,0.75,-0.080,-0.780,-0.700,-0.104,-0.3420,-1.378,-1.0360,-1.274,1615,-408,-15.712383,-3467,-2475,-526
3,2012-01-04,2012,1,4,86.800003,1866.219971,3.25,3.360,3.790,0.430,0.015,0.2630,1.984,1.7210,1.969,6960,1861,26.738506,3712,9861,1988,-49.820000,0.0,-0.020,0.000,0.020,0.0120,0.0090,-0.049,-0.0580,-0.0610,3196,60,-21.109528,193,1629,165,160.029999,0.00,-0.160,-0.010,0.150,0.007,0.0080,0.167,0.1590,0.160,5688,85,-112.884132,-466,589,-371,-279.079987,0.0,-0.415,-0.530,-0.115,0.000,-0.2110,-1.216,-1.0050,-1.216,2909,36,-18.312099,25,-147,-211,-218.919998,0.75,-0.135,-0.790,-0.655,-0.127,-0.3580,-1.354,-0.9960,-1.227,1615,-408,-15.712383,-3467,-2475,-526
4,2012-01-05,2012,1,5,86.800003,1863.739990,3.25,3.340,3.780,0.440,0.015,0.2630,1.996,1.7330,1.981,6960,1861,26.738506,3712,9861,1988,-59.160000,0.0,-0.040,0.000,0.040,0.0050,0.0010,-0.037,-0.0380,-0.0420,3196,60,-21.109528,193,1629,165,197.220001,0.00,-0.160,0.000,0.160,0.012,0.0040,0.105,0.1010,0.093,5688,85,-112.884132,-466,589,-371,-298.010010,0.0,-0.430,-0.520,-0.090,0.010,-0.1710,-1.123,-0.9520,-1.133,2909,36,-18.312099,25,-147,-211,-218.809998,0.75,-0.155,-0.850,-0.695,-0.127,-0.4450,-1.467,-1.0220,-1.340,1615,-408,-15.712383,-3467,-2475,-526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4013,2022-12-27,2022,12,27,104.400002,2332.790039,3.25,3.661,3.612,-0.049,4.311,4.3827,3.849,-0.5337,-0.462,1759,865,49.175667,750,8890,7709,-105.070000,0.0,0.021,-0.001,-0.022,-0.0997,-0.0802,0.155,0.2352,0.2547,494,-1,-19.282829,176,-1669,15,108.930000,0.75,-0.633,-0.594,0.039,0.983,0.0956,-0.100,-0.1956,-1.083,-94,255,16.256079,-10,-2451,294,-69.129997,1.5,0.091,-0.112,-0.203,2.626,1.2508,0.647,-0.6038,-1.979,1654,177,-606.062439,-1094,-2766,-987,-666.760010,2.25,1.885,1.400,-0.485,4.255,3.6779,2.372,-1.3059,-1.883,-266,811,46.509003,-695,-2296,1048
4014,2022-12-28,2022,12,28,104.400002,2280.449951,3.25,3.668,3.675,0.007,4.457,4.3574,3.886,-0.4714,-0.571,1759,865,49.175667,750,8890,7709,-127.820000,0.0,-0.002,0.065,0.067,0.0550,-0.0869,0.207,0.2939,0.1520,494,-1,-19.282829,176,-1669,15,111.160004,0.75,-0.548,-0.556,-0.008,1.083,0.2307,0.149,-0.0817,-0.934,-94,255,16.256079,-10,-2451,294,-141.639999,1.5,0.129,0.011,-0.118,2.677,1.2458,0.709,-0.5368,-1.968,1654,177,-606.062439,-1094,-2766,-987,-739.789978,2.25,1.882,1.479,-0.403,4.396,3.6015,2.402,-1.1995,-1.994,-266,811,46.509003,-695,-2296,1048
4015,2022-12-29,2022,12,29,104.400002,2236.399902,3.25,3.718,3.723,0.005,4.423,4.3656,3.820,-0.5456,-0.603,1759,865,49.175667,750,8890,7709,-196.990005,0.0,-0.005,0.051,0.056,0.0390,-0.1158,0.070,0.1858,0.0310,494,-1,-19.282829,176,-1669,15,65.470001,0.75,-0.605,-0.504,0.101,1.109,0.1732,0.038,-0.1352,-1.071,-94,255,16.256079,-10,-2451,294,-141.589996,1.5,0.171,0.056,-0.115,2.666,1.3230,0.733,-0.5900,-1.933,1654,177,-606.062439,-1094,-2766,-987,-756.890015,2.25,1.935,1.543,-0.392,4.372,3.6136,2.264,-1.3496,-2.108,-266,811,46.509003,-695,-2296,1048
4016,2022-12-30,2022,12,30,104.400002,2236.399902,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175667,750,8890,7709,-236.130005,0.0,0.059,0.081,0.022,0.0410,0.0992,0.268,0.1688,0.2270,494,-1,-19.282829,176,-1669,15,80.910004,0.75,-0.489,-0.374,0.115,1.122,0.1553,0.050,-0.1053,-1.072,-94,255,16.256079,-10,-2451,294,-96.239998,1.5,0.176,0.098,-0.078,2.705,1.4725,0.862,-0.6105,-1.843,1654,177,-606.062439,-1094,-2766,-987,-741.250000,2.25,1.923,1.487,-0.436,4.359,3.6976,2.372,-1.3256,-1.987,-266,811,46.509003,-695,-2296,1048
4017,2022-12-31,2022,12,31,104.400002,2236.399902,3.25,3.725,3.735,0.010,4.405,4.4279,3.879,-0.5489,-0.526,1759,865,49.175667,750,8890,7709,-236.130005,0.0,0.059,0.081,0.022,0.0410,0.0992,0.268,0.1688,0.2270,494,-1,-19.282829,176,-1669,15,80.910004,0.75,-0.489,-0.374,0.115,1.122,0.1553,0.050,-0.1053,-1.072,-94,255,16.256079,-10,-2451,294,-96.239998,1.5,0.176,0.098,-0.078,2.705,1.4725,0.862,-0.6105,-1.843,1654,177,-606.062439,-1094,-2766,-987,-741.250000,2.25,1.930,1.480,-0.450,4.352,3.6938,2.367,-1.3268,-1.985,-266,811,46.509003,-695,-2296,1048

In [34]:
# null 값이나 inf 값들을 확인
import numpy as np
df_economic2.replace([np.inf, -np.inf], np.nan, inplace=True)
var = df_economic2.isnull().sum()
print(var.to_string())

date                                            0
year                                            0
month                                           0
day                                             0
apartment_index                                 0
kospi_index                                     0
korea_rp                                        0
korea_3_year                                    0
korea_10_year                                   0
korea_10-3_year                                 0
us_3_month                                      0
us_2_year                                       0
us_10_year                                      0
us_10-2_year                                    0
us_10-3_year_month                              0
total_apartment_supply                          0
total_unsold_count                              0
total_unsold_ratio                              0
total_last_month_deal_count                     0
total_last_month_full_rent_count                0
total_last_month_month_rent_count               0
kospi_index_1m_before                           0
korea_rp_1m_before                              0
korea_3_year_1m_before                          0
korea_10_year_1m_before                         0
korea_10-3_year_1m_before                       0
us_3_month_1m_before                            0
us_2_year_1m_before                             0
us_10_year_1m_before                            0
us_10-2_year_1m_before                          0
us_10-3_year_month_1m_before                    0
total_apartment_supply_1m_before                0
total_unsold_count_1m_before                    0
total_unsold_ratio_1m_before                    0
total_last_month_deal_count_1m_before           0
total_last_month_full_rent_count_1m_before      0
total_last_month_month_rent_count_1m_before     0
kospi_index_3m_before                           0
korea_rp_3m_before                              0
korea_3_year_3m_before                          0
korea_10_year_3m_before                         0
korea_10-3_year_3m_before                       0
us_3_month_3m_before                            0
us_2_year_3m_before                             0
us_10_year_3m_before                            0
us_10-2_year_3m_before                          0
us_10-3_year_month_3m_before                    0
total_apartment_supply_3m_before                0
total_unsold_count_3m_before                    0
total_unsold_ratio_3m_before                    0
total_last_month_deal_count_3m_before           0
total_last_month_full_rent_count_3m_before      0
total_last_month_month_rent_count_3m_before     0
kospi_index_6m_before                           0
korea_rp_6m_before                              0
korea_3_year_6m_before                          0
korea_10_year_6m_before                         0
korea_10-3_year_6m_before                       0
us_3_month_6m_before                            0
us_2_year_6m_before                             0
us_10_year_6m_before                            0
us_10-2_year_6m_before                          0
us_10-3_year_month_6m_before                    0
total_apartment_supply_6m_before                0
total_unsold_count_6m_before                    0
total_unsold_ratio_6m_before                    0
total_last_month_deal_count_6m_before           0
total_last_month_full_rent_count_6m_before      0
total_last_month_month_rent_count_6m_before     0
kospi_index_12m_before                          0
korea_rp_12m_before                             0
korea_3_year_12m_before                         0
korea_10_year_12m_before                        0
korea_10-3_year_12m_before                      0
us_3_month_12m_before                           0
us_2_year_12m_before                            0
us_10_year_12m_before                           0
us_10-2_year_12m_before                         0
us_10-3_year_month_12m_before                   0
total_apartment_supply_12m_before               0
total_unsold_count_12m_before                   0
total_unsold_ratio_12m_before                   0
total_last_month_deal_count_12m_before          0
total_last_month_full_rent_count_12m_before     0
total_last_month_month_rent_count_12m_before    0

In [35]:
df_economic2.to_pickle('dataset\\after_data\\final_economic2.pkl')

# 아파트 거래 체결 count 데이터프레임 생성

In [3]:
# 데이터 정보 불러오기
df_deal = pd.read_csv('dataset\\after_data\\apartment_deal.csv',encoding='utf-8')
df_full_rent = pd.read_csv('dataset\\after_data\\apartment_full_rent.csv',encoding='utf-8')
df_month_rent = pd.read_csv('dataset\\after_data\\apartment_month_rent.csv',encoding='utf-8')

## 세부 거래 개수 데이터프레임 생성 - 실험 결과 필요없음

In [19]:
# 거래 일자별 거래 개수들을 생성
df_deal_count = df_deal.groupby(['year','month','day','address_1','address_2','address_3','address_4'])['deal_price'].count()
df_deal_count = df_deal_count.reset_index()
df_deal_count.columns = ['year','month','day','address_1','address_2','address_3','address_4','deal_count']

df_full_rent_count = df_full_rent.groupby(['year','month','day','address_1','address_2','address_3','address_4'])['full_rent_price'].count()
df_full_rent_count = df_full_rent_count.reset_index()
df_full_rent_count.columns = ['year','month','day','address_1','address_2','address_3','address_4','full_rent_count']

df_month_rent_count = df_month_rent.groupby(['year','month','day','address_1','address_2','address_3','address_4'])['month_rent_price'].count()
df_month_rent_count = df_month_rent_count.reset_index()
df_month_rent_count.columns = ['year','month','day','address_1','address_2','address_3','address_4','month_rent_count']

In [20]:
df_deal_count['deal_count'].value_counts()

1      673402
2       70339
3       12832
4        3224
5         958
        ...
32          1
134         1
65          1
31          1
72          1
Name: deal_count, Length: 71, dtype: int64

In [21]:
df_full_rent_count['full_rent_count'].value_counts()

1      977795
2      140427
3       30791
4        9477
5        3613
        ...
56          1
71          1
100         1
48          1
44          1
Name: full_rent_count, Length: 65, dtype: int64

In [22]:
df_month_rent_count['month_rent_count'].value_counts()

1      455309
2       48783
3        9272
4        2814
5        1231
        ...
304         1
243         1
163         1
67          1
52          1
Name: month_rent_count, Length: 94, dtype: int64

- 거래개수들이 일자까지 그룹으로 하면 1,2,3 등 소수의 개수가 너무 많아서 거래량 변화등을 계산하기가 용이하지 않은듯
- 해서 월별, 지역별로 그룹화

## 달별, 지역별 거래개수 생성 - 실행

In [4]:
# 거래 달별, 지역별 거래 개수들을 생성
df_deal_count = df_deal.groupby(['address_1','address_2','address_3','year','month'])['deal_price'].count()
df_deal_count = df_deal_count.reset_index()
df_deal_count.columns = ['address_1','address_2','address_3','year','month','deal_count']

df_full_rent_count = df_full_rent.groupby(['address_1','address_2','address_3','year','month'])['full_rent_price'].count()
df_full_rent_count = df_full_rent_count.reset_index()
df_full_rent_count.columns = ['address_1','address_2','address_3','year','month','full_rent_count']

df_month_rent_count = df_month_rent.groupby(['address_1','address_2','address_3','year','month'])['month_rent_price'].count()
df_month_rent_count = df_month_rent_count.reset_index()
df_month_rent_count.columns = ['address_1','address_2','address_3','year','month','month_rent_count']

In [5]:
df_deal_count

       address_1 address_2  address_3  year  month  deal_count
0            강남구       개포동       12.0  2011      1          16
1            강남구       개포동       12.0  2011      2          17
2            강남구       개포동       12.0  2011      3           8
3            강남구       개포동       12.0  2011      4          13
4            강남구       개포동       12.0  2011      5           7
...          ...       ...        ...   ...    ...         ...
292758       중랑구       중화동      454.0  2020     12           1
292759       중랑구       중화동      454.0  2021      1           1
292760       중랑구       중화동      454.0  2021      7           1
292761       중랑구       중화동      454.0  2021      8           1
292762       중랑구       중화동      454.0  2021     12           1

[292763 rows x 6 columns]

In [6]:
df_full_rent_count

       address_1 address_2  address_3  year  month  full_rent_count
0            강남구       개포동       12.0  2011      1               38
1            강남구       개포동       12.0  2011      2               38
2            강남구       개포동       12.0  2011      3               46
3            강남구       개포동       12.0  2011      4               30
4            강남구       개포동       12.0  2011      5               21
...          ...       ...        ...   ...    ...              ...
367856       중랑구       중화동      454.0  2021     10                3
367857       중랑구       중화동      454.0  2021     11                1
367858       중랑구       중화동      454.0  2022      3                2
367859       중랑구       중화동      454.0  2022     11                1
367860       중랑구       중화동      454.0  2022     12                1

[367861 rows x 6 columns]

- 해당 거래량은 해당 달의 거래량인데, 거래 종합은 다음달에 발표가 된다고 생각

In [7]:
# 거래 개수들을 통합
df_final_count = pd.merge(df_deal_count, df_full_rent_count, on=['year','month','address_1','address_2','address_3'], how='outer')
df_final_count = pd.merge(df_final_count,df_month_rent_count, on=['year','month','address_1','address_2','address_3'], how='outer')
df_final_count.fillna(0,inplace=True)
df_final_count

,address_1,address_2,address_3,year,month,deal_count,full_rent_count,month_rent_count
0,강남구,개포동,12.0,2011,1,16.0,38.0,7.0
1,강남구,개포동,12.0,2011,2,17.0,38.0,8.0
2,강남구,개포동,12.0,2011,3,8.0,46.0,16.0
3,강남구,개포동,12.0,2011,4,13.0,30.0,11.0
4,강남구,개포동,12.0,2011,5,7.0,21.0,8.0
...,...,...,...,...,...,...,...,...
495788,중랑구,중화동,453.0,2021,9,0.0,0.0,1.0
495789,중랑구,중화동,453.0,2021,11,0.0,0.0,1.0
495790,중랑구,중화동,453.0,2021,12,0.0,0.0,1.0
495791,중랑구,중화동,454.0,2015,12,0.0,0.0,1.0
495792,중랑구,중화동,454.0,2018,12,0.0,0.0,1.0

### 체결 날짜외 모든 날짜들을 추가

In [8]:
# 범위내 모든 날짜 파트만 추려서 저장
df_date = df_economic[['year','month']].copy()
df_date.columns=['temp_year','temp_month']
# 기간 내 날짜(year,month)들을 데이터 프레임으로 생성
df_date = df_date.drop_duplicates(subset=['temp_year','temp_month'], keep='last')
df_date

      temp_year  temp_month
30         2011           1
58         2011           2
89         2011           3
119        2011           4
150        2011           5
...         ...         ...
4260       2022           8
4290       2022           9
4321       2022          10
4351       2022          11
4382       2022          12

[144 rows x 2 columns]

In [9]:
# 년과 월만 리스트로 생성
df_date_year_list = list(df_date['temp_year'])
df_date_month_list = list(df_date['temp_month'])
print(df_date_year_list,len(df_date_year_list))
print(df_date_month_list,len(df_date_month_list))

[2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022] 144
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] 144

- df_final_count가 모든 날짜들이 아닌 체결된 날짜만 가지고 있음으로 모든 날짜들을 데이터프레임으로 만든 후 merge를 진행

In [10]:
# 주소의 종류들을 알기 위해서 
df_index_is_address = df_final_count.set_index(['address_1','address_2','address_3']).copy()
df_index_is_address

                               year  month  deal_count  full_rent_count  \
address_1 address_2 address_3
강남구       개포동       12.0       2011      1        16.0             38.0
                    12.0       2011      2        17.0             38.0
                    12.0       2011      3         8.0             46.0
                    12.0       2011      4        13.0             30.0
                    12.0       2011      5         7.0             21.0
...                             ...    ...         ...              ...
중랑구       중화동       453.0      2021      9         0.0              0.0
                    453.0      2021     11         0.0              0.0
                    453.0      2021     12         0.0              0.0
                    454.0      2015     12         0.0              0.0
                    454.0      2018     12         0.0              0.0

                               month_rent_count
address_1 address_2 address_3
강남구       개포동       12.0                    7.0
                    12.0                    8.0
                    12.0                   16.0
                    12.0                   11.0
                    12.0                    8.0
...                                         ...
중랑구       중화동       453.0                   1.0
                    453.0                   1.0
                    453.0                   1.0
                    454.0                   1.0
                    454.0                   1.0

[495793 rows x 5 columns]

In [11]:
# 인덱스들을이 겹치는 것들이 많음으로 겹치는 것들이 없게 우선 리스트 화
address_kind_list = list(df_index_is_address.index)
address_kind_list = list(dict.fromkeys(address_kind_list))
address_kind_list

[('강남구', '개포동', 12.0),
 ('강남구', '개포동', 138.0),
 ('강남구', '개포동', 140.0),
 ('강남구', '개포동', 141.0),
 ('강남구', '개포동', 166.0),
 ('강남구', '개포동', 172.0),
 ('강남구', '개포동', 176.0),
 ('강남구', '개포동', 177.0),
 ('강남구', '개포동', 179.0),
 ('강남구', '개포동', 185.0),
 ('강남구', '개포동', 187.0),
 ('강남구', '개포동', 189.0),
 ('강남구', '개포동', 649.0),
 ('강남구', '개포동', 651.0),
 ('강남구', '개포동', 652.0),
 ('강남구', '개포동', 653.0),
 ('강남구', '개포동', 654.0),
 ('강남구', '개포동', 655.0),
 ('강남구', '개포동', 656.0),
 ('강남구', '개포동', 658.0),
 ('강남구', '개포동', 1164.0),
 ('강남구', '개포동', 1165.0),
 ('강남구', '개포동', 1167.0),
 ('강남구', '개포동', 1204.0),
 ('강남구', '개포동', 1242.0),
 ('강남구', '개포동', 1260.0),
 ('강남구', '개포동', 1280.0),
 ('강남구', '개포동', 1282.0),
 ('강남구', '논현동', 9.0),
 ('강남구', '논현동', 16.0),
 ('강남구', '논현동', 22.0),
 ('강남구', '논현동', 39.0),
 ('강남구', '논현동', 43.0),
 ('강남구', '논현동', 44.0),
 ('강남구', '논현동', 46.0),
 ('강남구', '논현동', 47.0),
 ('강남구', '논현동', 53.0),
 ('강남구', '논현동', 55.0),
 ('강남구', '논현동', 58.0),
 ('강남구', '논현동', 62.0),
 ('강남구', '논현동', 79.0),
 ('강남구', '논현동', 80.0),
 ('강남구', '논현동', 102.0),
 ('강남구', '논현동', 103.0),
 ('강남구', '논현동', 104.0),
 ('강남구', '논현동', 105.0),
 ('강남구', '논현동', 107.0),
 ('강남구', '논현동', 108.0),
 ('강남구', '논현동', 109.0),
 ('강남구', '논현동', 114.0),
 ('강남구', '논현동', 118.0),
 ('강남구', '논현동', 122.0),
 ('강남구', '논현동', 138.0),
 ('강남구', '논현동', 180.0),
 ('강남구', '논현동', 192.0),
 ('강남구', '논현동', 194.0),
 ('강남구', '논현동', 195.0),
 ('강남구', '논현동', 196.0),
 ('강남구', '논현동', 205.0),
 ('강남구', '논현동', 211.0),
 ('강남구', '논현동', 212.0),
 ('강남구', '논현동', 214.0),
 ('강남구', '논현동', 215.0),
 ('강남구', '논현동', 216.0),
 ('강남구', '논현동', 217.0),
 ('강남구', '논현동', 221.0),
 ('강남구', '논현동', 225.0),
 ('강남구', '논현동', 228.0),
 ('강남구', '논현동', 229.0),
 ('강남구', '논현동', 241.0),
 ('강남구', '논현동', 245.0),
 ('강남구', '논현동', 252.0),
 ('강남구', '논현동', 258.0),
 ('강남구', '논현동', 261.0),
 ('강남구', '논현동', 267.0),
 ('강남구', '논현동', 268.0),
 ('강남구', '논현동', 271.0),
 ('강남구', '논현동', 274.0),
 ('강남구', '논현동', 275.0),
 ('강남구', '논현동', 276.0),
 ('강남구', '대치동', 63.0),
 ('강남구', '대치동', 65.0),
 ('강남구', '대치동', 66.0),
 ('강남구', '대치동', 316.0),
 ('강남구', '대치동', 500.0),
 ('강남구', '대치동', 503.0),
 ('강남구', '대치동', 506.0),
 ('강남구', '대치동', 511.0),
 ('강남구', '대치동', 601.0),
 ('강남구', '대치동', 602.0),
 ('강남구', '대치동', 610.0),
 ('강남구', '대치동', 612.0),
 ('강남구', '대치동', 633.0),
 ('강남구', '대치동', 650.0),
 ('강남구', '대치동', 670.0),
 ('강남구', '대치동', 888.0),
 ('강남구', '대치동', 889.0),
 ('강남구', '대치동', 890.0),
 ('강남구', '대치동', 891.0),
 ('강남구', '대치동', 893.0),
 ('강남구', '대치동', 894.0),
 ('강남구', '대치동', 901.0),
 ('강남구', '대치동', 902.0),
 ('강남구', '대치동', 904.0),
 ('강남구', '대치동', 907.0),
 ('강남구', '대치동', 910.0),
 ('강남구', '대치동', 914.0),
 ('강남구', '대치동', 915.0),
 ('강남구', '대치동', 920.0),
 ('강남구', '대치동', 929.0),
 ('강남구', '대치동', 933.0),
 ('강남구', '대치동', 934.0),
 ('강남구', '대치동', 938.0),
 ('강남구', '대치동', 941.0),
 ('강남구', '대치동', 950.0),
 ('강남구', '대치동', 962.0),
 ('강남구', '대치동', 974.0),
 ('강남구', '대치동', 975.0),
 ('강남구', '대치동', 983.0),
 ('강남구', '대치동', 985.0),
 ('강남구', '대치동', 986.0),
 ('강남구', '대치동', 988.0),
 ('강남구', '대치동', 992.0),
 ('강남구', '대치동', 1007.0),
 ('강남구', '대치동', 1009.0),
 ('강남구', '대치동', 1014.0),
 ('강남구', '대치동', 1015.0),
 ('강남구', '대치동', 1016.0),
 ('강남구', '대치동', 1017.0),
 ('강남구', '대치동', 1025.0),
 ('강남구', '대치동', 1027.0),
 ('강남구', '대치동', 1029.0),
 ('강남구', '도곡동', 91.0),
 ('강남구', '도곡동', 153.0),
 ('강남구', '도곡동', 161.0),
 ('강남구', '도곡동', 162.0),
 ('강남구', '도곡동', 164.0),
 ('강남구', '도곡동', 183.0),
 ('강남구', '도곡동', 184.0),
 ('강남구', '도곡동', 190.0),
 ('강남구', '도곡동', 192.0),
 ('강남구', '도곡동', 193.0),
 ('강남구', '도곡동', 194.0),
 ('강남구', '도곡동', 199.0),
 ('강남구', '도곡동', 200.0),
 ('강남구', '도곡동', 201.0),
 ('강남구', '도곡동', 202.0),
 ('강남구', '도곡동', 462.0),
 ('강남구', '도곡동', 463.0),
 ('강남구', '도곡동', 464.0),
 ('강남구', '도곡동', 465.0),
 ('강남구', '도곡동', 467.0),
 ('강남구', '도곡동', 514.0),
 ('강남구', '도곡동', 527.0),
 ('강남구', '도곡동', 538.0),
 ('강남구', '도곡동', 539.0),
 ('강남구', '도곡동', 540.0),
 ('강남구', '도곡동', 543.0),
 ('강남구', '도곡동', 550.0),
 ('강남구', '도곡동', 551.0),
 ('강남구', '도곡동', 869.0),
 ('강남구', '도곡동', 893.0),
 ('강남구', '도곡동', 895.0),
 ('강남구', '도곡동', 902.0),
 ('강남구', '도곡동', 919.0),
 ('강남구', '도곡동', 933.0),
 ('강남구', '도곡동', 934.0),
 ('강남구', '도곡동', 944.0),
 ('강남구', '도곡동', 949.0),
 ('강남구', '도곡동', 950.0),
 ('강남구', '도곡동', 952.0),
 ('강남구', '도곡동', 953.0),
 ('강남구', '도곡동', 955.0),
 ('강남구', '도곡동', 957.0),
 ('강남구', '도곡동', 960.0),
 ('강남구', '도곡동', 961.0),
 ('강남구', '도곡동', 963.0),
 ('강남구', '도곡동', 964.0),
 ('강남구', '도곡동', 965.0),
 ('강남구', '도곡동', 966.0),
 ('강남구', '도곡동', 967.0),
 ('강남구', '도곡동', 968.0),
 ('강남구', '도곡동', 969.0),
 ('강남구', '도곡동', 970.0),
 ('강남구', '도곡동', 972.0),
 ('강남구', '삼성동', 2.0),
 ('강남구', '삼성동', 3.0),
 ('강남구', '삼성동', 4.0),
 ('강남구', '삼성동', 5.0),
 ('강남구', '삼성동', 6.0),
 ('강남구', '삼성동', 7.0),
 ('강남구', '삼성동', 8.0),
 ('강남구', '삼성동', 11.0),
 ('강남구', '삼성동', 14.0),
 ('강남구', '삼성동', 16.0),
 ('강남구', '삼성동', 17.0),
 ('강남구', '삼성동', 19.0),
 ('강남구', '삼성동', 22.0),
 ('강남구', '삼성동', 29.0),
 ('강남구', '삼성동', 33.0),
 ('강남구', '삼성동', 36.0),
 ('강남구', '삼성동', 37.0),
 ('강남구', '삼성동', 42.0),
 ('강남구', '삼성동', 43.0),
 ('강남구', '삼성동', 45.0),
 ('강남구', '삼성동', 47.0),
 ('강남구', '삼성동', 48.0),
 ('강남구', '삼성동', 50.0),
 ('강남구', '삼성동', 52.0),
 ('강남구', '삼성동', 53.0),
 ('강남구', '삼성동', 57.0),
 ('강남구', '삼성동', 64.0),
 ('강남구', '삼성동', 65.0),
 ('강남구', '삼성동', 66.0),
 ('강남구', '삼성동', 71.0),
 ('강남구', '삼성동', 75.0),
 ('강남구', '삼성동', 78.0),
 ('강남구', '삼성동', 79.0),
 ('강남구', '삼성동', 82.0),
 ('강남구', '삼성동', 87.0),
 ('강남구', '삼성동', 91.0),
 ('강남구', '삼성동', 97.0),
 ('강남구', '삼성동', 98.0),
 ('강남구', '삼성동', 99.0),
 ('강남구', '삼성동', 100.0),
 ('강남구', '삼성동', 101.0),
 ('강남구', '삼성동', 102.0),
 ('강남구', '삼성동', 103.0),
 ('강남구', '삼성동', 104.0),
 ('강남구', '삼성동', 105.0),
 ('강남구', '삼성동', 106.0),
 ('강남구', '삼성동', 107.0),
 ('강남구', '삼성동', 108.0),
 ('강남구', '삼성동', 109.0),
 ('강남구', '삼성동', 110.0),
 ('강남구', '삼성동', 113.0),
 ('강남구', '삼성동', 114.0),
 ('강남구', '삼성동', 117.0),
 ('강남구', '삼성동', 120.0),
 ('강남구', '삼성동', 121.0),
 ('강남구', '삼성동', 122.0),
 ('강남구', '삼성동', 126.0),
 ('강남구', '삼성동', 127.0),
 ('강남구', '삼성동', 129.0),
 ('강남구', '삼성동', 130.0),
 ('강남구', '삼성동', 142.0),
 ('강남구', '삼성동', 143.0),
 ('강남구', '삼성동', 144.0),
 ('강남구', '삼성동', 146.0),
 ('강남구', '삼성동', 147.0),
 ('강남구', '삼성동', 150.0),
 ('강남구', '삼성동', 188.0),
 ('강남구', '삼성동', 189.0),
 ('강남구', '세곡동', 508.0),
 ('강남구', '세곡동', 511.0),
 ('강남구', '세곡동', 516.0),
 ('강남구', '세곡동', 525.0),
 ('강남구', '세곡동', 533.0),
 ('강남구', '세곡동', 579.0),
 ('강남구', '수서동', 708.0),
 ('강남구', '수서동', 712.0),
 ('강남구', '수서동', 736.0),
 ('강남구', '수서동', 738.0),
 ('강남구', '수서동', 746.0),
 ('강남구', '수서동', 747.0),
 ('강남구', '수서동', 795.0),
 ('강남구', '수서동', 799.0),
 ('강남구', '신사동', 506.0),
 ('강남구', '신사동', 510.0),
 ('강남구', '신사동', 522.0),
 ('강남구', '신사동', 523.0),
 ('강남구', '신사동', 524.0),
 ('강남구', '신사동', 540.0),
 ('강남구', '신사동', 547.0),
 ('강남구', '신사동', 550.0),
 ('강남구', '신사동', 551.0),
 ('강남구', '신사동', 555.0),
 ('강남구', '신사동', 556.0),
 ('강남구', '신사동', 562.0),
 ('강남구', '신사동', 569.0),
 ('강남구', '신사동', 588.0),
 ('강남구', '신사동', 590.0),
 ('강남구', '신사동', 591.0),
 ('강남구', '신사동', 593.0),
 ('강남구', '신사동', 606.0),
 ('강남구', '신사동', 622.0),
 ('강남구', '신사동', 626.0),
 ('강남구', '신사동', 632.0),
 ('강남구', '신사동', 634.0),
 ('강남구', '신사동', 635.0),
 ('강남구', '신사동', 649.0),
 ('강남구', '신사동', 658.0),
 ('강남구', '신사동', 659.0),
 ('강남구', '압구정동', 369.0),
 ('강남구', '압구정동', 397.0),
 ('강남구', '압구정동', 414.0),
 ('강남구', '압구정동', 426.0),
 ('강남구', '압구정동', 433.0),
 ('강남구', '압구정동', 434.0),
 ('강남구', '압구정동', 436.0),
 ('강남구', '압구정동', 443.0),
 ('강남구', '압구정동', 444.0),
 ('강남구', '압구정동', 446.0),
 ('강남구', '압구정동', 447.0),
 ('강남구', '압구정동', 448.0),
 ('강남구', '압구정동', 455.0),
 ('강남구', '압구정동', 456.0),
 ('강남구', '압구정동', 462.0),
 ('강남구', '압구정동', 481.0),
 ('강남구', '압구정동', 484.0),
 ('강남구', '압구정동', 486.0),
 ('강남구', '압구정동', 489.0),
 ('강남구', '압구정동', 490.0),
 ('강남구', '압구정동', 493.0),
 ('강남구', '압구정동', 510.0),
 ('강남구', '압구정동', 513.0),
 ('강남구', '압구정동', 528.0),
 ('강남구', '역삼동', 604.0),
 ('강남구', '역삼동', 606.0),
 ('강남구', '역삼동', 607.0),
 ('강남구', '역삼동', 628.0),
 ('강남구', '역삼동', 633.0),
 ('강남구', '역삼동', 635.0),
 ('강남구', '역삼동', 636.0),
 ('강남구', '역삼동', 644.0),
 ('강남구', '역삼동', 656.0),
 ('강남구', '역삼동', 664.0),
 ('강남구', '역삼동', 667.0),
 ('강남구', '역삼동', 681.0),
 ('강남구', '역삼동', 682.0),
 ('강남구', '역삼동', 685.0),
 ('강남구', '역삼동', 706.0),
 ('강남구', '역삼동', 707.0),
 ('강남구', '역삼동', 708.0),
 ('강남구', '역삼동', 709.0),
 ('강남구', '역삼동', 710.0),
 ('강남구', '역삼동', 711.0),
 ('강남구', '역삼동', 712.0),
 ('강남구', '역삼동', 713.0),
 ('강남구', '역삼동', 716.0),
 ('강남구', '역삼동', 720.0),
 ('강남구', '역삼동', 722.0),
 ('강남구', '역삼동', 723.0),
 ('강남구', '역삼동', 727.0),
 ('강남구', '역삼동', 728.0),
 ('강남구', '역삼동', 729.0),
 ('강남구', '역삼동', 732.0),
 ('강남구', '역삼동', 735.0),
 ('강남구', '역삼동', 741.0),
 ('강남구', '역삼동', 745.0),
 ('강남구', '역삼동', 747.0),
 ('강남구', '역삼동', 754.0),
 ('강남구', '역삼동', 755.0),
 ('강남구', '역삼동', 757.0),
 ('강남구', '역삼동', 759.0),
 ('강남구', '역삼동', 760.0),
 ('강남구', '역삼동', 761.0),
 ('강남구', '역삼동', 762.0),
 ('강남구', '역삼동', 763.0),
 ('강남구', '역삼동', 765.0),
 ('강남구', '역삼동', 766.0),
 ('강남구', '역삼동', 771.0),
 ('강남구', '역삼동', 775.0),
 ('강남구', '역삼동', 777.0),
 ('강남구', '역삼동', 778.0),
 ('강남구', '역삼동', 783.0),
 ('강남구', '역삼동', 787.0),
 ('강남구', '역삼동', 789.0),
 ('강남구', '역삼동', 791.0),
 ('강남구', '역삼동', 794.0),
 ('강남구', '역삼동', 795.0),
 ('강남구', '역삼동', 796.0),
 ('강남구', '역삼동', 797.0),
 ('강남구', '역삼동', 823.0),
 ('강남구', '역삼동', 824.0),
 ('강남구', '역삼동', 826.0),
 ('강남구', '역삼동', 828.0),
 ('강남구', '역삼동', 831.0),
 ('강남구', '역삼동', 832.0),
 ('강남구', '역삼동', 835.0),
 ('강남구', '역삼동', 836.0),
 ('강남구', '역삼동', 837.0),
 ('강남구', '역삼동', 838.0),
 ('강남구', '역삼동', 901.0),
 ('강남구', '역삼동', 902.0),
 ('강남구', '율현동', 365.0),
 ('강남구', '율현동', 513.0),
 ('강남구', '율현동', 686.0),
 ('강남구', '일원동', 614.0),
 ('강남구', '일원동', 615.0),
 ('강남구', '일원동', 626.0),
 ('강남구', '일원동', 679.0),
 ('강남구', '일원동', 690.0),
 ('강남구', '일원동', 711.0),
 ('강남구', '일원동', 716.0),
 ('강남구', '일원동', 718.0),
 ('강남구', '일원동', 719.0),
 ('강남구', '일원동', 731.0),
 ('강남구', '일원동', 734.0),
 ('강남구', '일원동', 735.0),
 ('강남구', '일원동', 741.0),
 ('강남구', '일원동', 742.0),
 ('강남구', '일원동', 743.0),
 ('강남구', '자곡동', 602.0),
 ('강남구', '자곡동', 611.0),
 ('강남구', '자곡동', 619.0),
 ('강남구', '자곡동', 686.0),
 ('강남구', '자곡동', 687.0),
 ('강남구', '청담동', 5.0),
 ('강남구', '청담동', 10.0),
 ('강남구', '청담동', 11.0),
 ('강남구', '청담동', 14.0),
 ('강남구', '청담동', 15.0),
 ('강남구', '청담동', 23.0),
 ('강남구', '청담동', 28.0),
 ('강남구', '청담동', 30.0),
 ('강남구', '청담동', 32.0),
 ('강남구', '청담동', 33.0),
 ('강남구', '청담동', 34.0),
 ('강남구', '청담동', 35.0),
 ('강남구', '청담동', 36.0),
 ('강남구', '청담동', 42.0),
 ('강남구', '청담동', 43.0),
 ('강남구', '청담동', 44.0),
 ('강남구', '청담동', 46.0),
 ('강남구', '청담동', 50.0),
 ('강남구', '청담동', 59.0),
 ('강남구', '청담동', 60.0),
 ('강남구', '청담동', 62.0),
 ('강남구', '청담동', 64.0),
 ('강남구', '청담동', 65.0),
 ('강남구', '청담동', 67.0),
 ('강남구', '청담동', 69.0),
 ('강남구', '청담동', 75.0),
 ('강남구', '청담동', 76.0),
 ('강남구', '청담동', 89.0),
 ('강남구', '청담동', 90.0),
 ('강남구', '청담동', 94.0),
 ('강남구', '청담동', 101.0),
 ('강남구', '청담동', 102.0),
 ('강남구', '청담동', 104.0),
 ('강남구', '청담동', 105.0),
 ('강남구', '청담동', 106.0),
 ('강남구', '청담동', 108.0),
 ('강남구', '청담동', 109.0),
 ('강남구', '청담동', 110.0),
 ('강남구', '청담동', 111.0),
 ('강남구', '청담동', 113.0),
 ('강남구', '청담동', 114.0),
 ('강남구', '청담동', 115.0),
 ('강남구', '청담동', 116.0),
 ('강남구', '청담동', 117.0),
 ('강남구', '청담동', 121.0),
 ('강남구', '청담동', 122.0),
 ('강남구', '청담동', 125.0),
 ('강남구', '청담동', 127.0),
 ('강남구', '청담동', 128.0),
 ('강남구', '청담동', 129.0),
 ('강남구', '청담동', 130.0),
 ('강남구', '청담동', 134.0),
 ('강남구', '청담동', 141.0),
 ('강동구', '강일동', 114.0),
 ('강동구', '강일동', 665.0),
 ('강동구', '강일동', 668.0),
 ('강동구', '강일동', 670.0),
 ('강동구', '강일동', 673.0),
 ('강동구', '강일동', 674.0),
 ('강동구', '강일동', 684.0),
 ('강동구', '강일동', 686.0),
 ('강동구', '강일동', 695.0),
 ('강동구', '강일동', 699.0),
 ('강동구', '강일동', 701.0),
 ('강동구', '강일동', 707.0),
 ('강동구', '강일동', 717.0),
 ('강동구', '고덕동', 210.0),
 ('강동구', '고덕동', 212.0),
 ('강동구', '고덕동', 220.0),
 ('강동구', '고덕동', 312.0),
 ('강동구', '고덕동', 470.0),
 ('강동구', '고덕동', 486.0),
 ('강동구', '고덕동', 492.0),
 ('강동구', '고덕동', 499.0),
 ('강동구', '고덕동', 688.0),
 ('강동구', '고덕동', 693.0),
 ('강동구', '길동', 43.0),
 ('강동구', '길동', 45.0),
 ('강동구', '길동', 53.0),
 ('강동구', '길동', 74.0),
 ('강동구', '길동', 83.0),
 ('강동구', '길동', 92.0),
 ('강동구', '길동', 97.0),
 ('강동구', '길동', 99.0),
 ('강동구', '길동', 100.0),
 ('강동구', '길동', 103.0),
 ('강동구', '길동', 106.0),
 ('강동구', '길동', 107.0),
 ('강동구', '길동', 143.0),
 ('강동구', '길동', 146.0),
 ('강동구', '길동', 152.0),
 ('강동구', '길동', 160.0),
 ('강동구', '길동', 184.0),
 ('강동구', '길동', 228.0),
 ('강동구', '길동', 229.0),
 ('강동구', '길동', 237.0),
 ('강동구', '길동', 241.0),
 ('강동구', '길동', 242.0),
 ('강동구', '길동', 247.0),
 ('강동구', '길동', 320.0),
 ('강동구', '길동', 323.0),
 ('강동구', '길동', 324.0),
 ('강동구', '길동', 332.0),
 ('강동구', '길동', 334.0),
 ('강동구', '길동', 337.0),
 ('강동구', '길동', 339.0),
 ('강동구', '길동', 343.0),
 ('강동구', '길동', 344.0),
 ('강동구', '길동', 346.0),
 ('강동구', '길동', 347.0),
 ('강동구', '길동', 348.0),
 ('강동구', '길동', 349.0),
 ('강동구', '길동', 350.0),
 ('강동구', '길동', 351.0),
 ('강동구', '길동', 352.0),
 ('강동구', '길동', 353.0),
 ('강동구', '길동', 355.0),
 ('강동구', '길동', 356.0),
 ('강동구', '길동', 357.0),
 ('강동구', '길동', 358.0),
 ('강동구', '길동', 360.0),
 ('강동구', '길동', 361.0),
 ('강동구', '길동', 365.0),
 ('강동구', '길동', 370.0),
 ('강동구', '길동', 371.0),
 ('강동구', '길동', 373.0),
 ('강동구', '길동', 378.0),
 ('강동구', '길동', 379.0),
 ('강동구', '길동', 380.0),
 ('강동구', '길동', 382.0),
 ('강동구', '길동', 383.0),
 ('강동구', '길동', 384.0),
 ('강동구', '길동', 385.0),
 ('강동구', '길동', 387.0),
 ('강동구', '길동', 388.0),
 ('강동구', '길동', 389.0),
 ('강동구', '길동', 394.0),
 ('강동구', '길동', 396.0),
 ('강동구', '길동', 400.0),
 ('강동구', '길동', 401.0),
 ('강동구', '길동', 410.0),
 ('강동구', '길동', 413.0),
 ('강동구', '길동', 414.0),
 ('강동구', '길동', 415.0),
 ('강동구', '길동', 416.0),
 ('강동구', '길동', 445.0),
 ('강동구', '길동', 456.0),
 ('강동구', '길동', 457.0),
 ('강동구', '길동', 470.0),
 ('강동구', '길동', 472.0),
 ('강동구', '길동', 474.0),
 ('강동구', '길동', 475.0),
 ('강동구', '길동', 477.0),
 ('강동구', '둔촌동', 30.0),
 ('강동구', '둔촌동', 31.0),
 ('강동구', '둔촌동', 46.0),
 ('강동구', '둔촌동', 61.0),
 ('강동구', '둔촌동', 62.0),
 ('강동구', '둔촌동', 64.0),
 ('강동구', '둔촌동', 65.0),
 ('강동구', '둔촌동', 67.0),
 ('강동구', '둔촌동', 70.0),
 ('강동구', '둔촌동', 89.0),
 ('강동구', '둔촌동', 90.0),
 ('강동구', '둔촌동', 94.0),
 ('강동구', '둔촌동', 104.0),
 ('강동구', '둔촌동', 134.0),
 ('강동구', '둔촌동', 135.0),
 ('강동구', '둔촌동', 170.0),
 ('강동구', '둔촌동', 174.0),
 ('강동구', '둔촌동', 425.0),
 ('강동구', '둔촌동', 426.0),
 ('강동구', '둔촌동', 435.0),
 ('강동구', '둔촌동', 446.0),
 ('강동구', '둔촌동', 488.0),
 ('강동구', '둔촌동', 490.0),
 ('강동구', '둔촌동', 511.0),
 ('강동구', '둔촌동', 518.0),
 ('강동구', '둔촌동', 544.0),
 ('강동구', '둔촌동', 545.0),
 ('강동구', '둔촌동', 546.0),
 ('강동구', '둔촌동', 555.0),
 ('강동구', '둔촌동', 556.0),
 ('강동구', '둔촌동', 603.0),
 ('강동구', '둔촌동', 611.0),
 ('강동구', '둔촌동', 613.0),
 ('강동구', '둔촌동', 621.0),
 ('강동구', '둔촌동', 622.0),
 ('강동구', '둔촌동', 630.0),
 ('강동구', '둔촌동', 631.0),
 ('강동구', '명일동', 15.0),
 ('강동구', '명일동', 38.0),
 ('강동구', '명일동', 41.0),
 ('강동구', '명일동', 42.0),
 ('강동구', '명일동', 44.0),
 ('강동구', '명일동', 47.0),
 ('강동구', '명일동', 48.0),
 ('강동구', '명일동', 54.0),
 ('강동구', '명일동', 56.0),
 ('강동구', '명일동', 251.0),
 ('강동구', '명일동', 257.0),
 ('강동구', '명일동', 270.0),
 ('강동구', '명일동', 294.0),
 ('강동구', '명일동', 312.0),
 ('강동구', '명일동', 326.0),
 ('강동구', '명일동', 332.0),
 ('강동구', '명일동', 335.0),
 ('강동구', '명일동', 336.0),
 ('강동구', '명일동', 343.0),
 ('강동구', '명일동', 344.0),
 ('강동구', '명일동', 346.0),
 ('강동구', '명일동', 348.0),
 ('강동구', '명일동', 351.0),
 ('강동구', '명일동', 352.0),
 ('강동구', '명일동', 354.0),
 ('강동구', '명일동', 355.0),
 ('강동구', '명일동', 356.0),
 ('강동구', '명일동', 357.0),
 ('강동구', '명일동', 358.0),
 ('강동구', '명일동', 359.0),
 ('강동구', '상일동', 121.0),
 ('강동구', '상일동', 124.0),
 ('강동구', '상일동', 131.0),
 ('강동구', '상일동', 134.0),
 ('강동구', '상일동', 187.0),
 ('강동구', '상일동', 473.0),
 ('강동구', '상일동', 476.0),
 ('강동구', '상일동', 490.0),
 ('강동구', '상일동', 513.0),
 ('강동구', '상일동', 514.0),
 ('강동구', '상일동', 515.0),
 ('강동구', '상일동', 519.0),
 ('강동구', '상일동', 521.0),
 ('강동구', '성내동', 13.0),
 ('강동구', '성내동', 25.0),
 ('강동구', '성내동', 30.0),
 ('강동구', '성내동', 51.0),
 ('강동구', '성내동', 111.0),
 ('강동구', '성내동', 137.0),
 ('강동구', '성내동', 164.0),
 ('강동구', '성내동', 194.0),
 ('강동구', '성내동', 196.0),
 ('강동구', '성내동', 199.0),
 ('강동구', '성내동', 203.0),
 ('강동구', '성내동', 244.0),
 ('강동구', '성내동', 295.0),
 ('강동구', '성내동', 320.0),
 ('강동구', '성내동', 378.0),
 ('강동구', '성내동', 382.0),
 ('강동구', '성내동', 383.0),
 ('강동구', '성내동', 386.0),
 ('강동구', '성내동', 387.0),
 ('강동구', '성내동', 396.0),
 ('강동구', '성내동', 405.0),
 ('강동구', '성내동', 407.0),
 ('강동구', '성내동', 409.0),
 ('강동구', '성내동', 410.0),
 ('강동구', '성내동', 412.0),
 ('강동구', '성내동', 413.0),
 ('강동구', '성내동', 416.0),
 ('강동구', '성내동', 417.0),
 ('강동구', '성내동', 419.0),
 ('강동구', '성내동', 420.0),
 ('강동구', '성내동', 422.0),
 ('강동구', '성내동', 423.0),
 ('강동구', '성내동', 424.0),
 ('강동구', '성내동', 427.0),
 ('강동구', '성내동', 428.0),
 ('강동구', '성내동', 429.0),
 ('강동구', '성내동', 433.0),
 ('강동구', '성내동', 434.0),
 ('강동구', '성내동', 435.0),
 ('강동구', '성내동', 437.0),
 ('강동구', '성내동', 438.0),
 ('강동구', '성내동', 439.0),
 ('강동구', '성내동', 440.0),
 ('강동구', '성내동', 443.0),
 ('강동구', '성내동', 444.0),
 ('강동구', '성내동', 445.0),
 ('강동구', '성내동', 446.0),
 ('강동구', '성내동', 447.0),
 ('강동구', '성내동', 448.0),
 ('강동구', '성내동', 452.0),
 ('강동구', '성내동', 454.0),
 ('강동구', '성내동', 455.0),
 ('강동구', '성내동', 456.0),
 ('강동구', '성내동', 457.0),
 ('강동구', '성내동', 459.0),
 ('강동구', '성내동', 460.0),
 ('강동구', '성내동', 463.0),
 ('강동구', '성내동', 465.0),
 ('강동구', '성내동', 466.0),
 ('강동구', '성내동', 467.0),
 ('강동구', '성내동', 468.0),
 ('강동구', '성내동', 508.0),
 ('강동구', '성내동', 510.0),
 ('강동구', '성내동', 513.0),
 ('강동구', '성내동', 542.0),
 ('강동구', '성내동', 545.0),
 ('강동구', '성내동', 548.0),
 ('강동구', '성내동', 549.0),
 ('강동구', '성내동', 551.0),
 ('강동구', '성내동', 565.0),
 ('강동구', '성내동', 590.0),
 ('강동구', '성내동', 592.0),
 ('강동구', '성내동', 593.0),
 ('강동구', '성내동', 594.0),
 ('강동구', '성내동', 595.0),
 ('강동구', '성내동', 596.0),
 ('강동구', '성내동', 597.0),
 ('강동구', '성내동', 598.0),
 ('강동구', '성내동', 599.0),
 ('강동구', '성내동', 600.0),
 ('강동구', '성내동', 601.0),
 ('강동구', '성내동', 602.0),
 ('강동구', '성내동', 603.0),
 ('강동구', '성내동', 604.0),
 ('강동구', '성내동', 605.0),
 ('강동구', '성내동', 606.0),
 ('강동구', '성내동', 607.0),
 ('강동구', '성내동', 608.0),
 ('강동구', '암사동', 400.0),
 ('강동구', '암사동', 413.0),
 ('강동구', '암사동', 414.0),
 ('강동구', '암사동', 419.0),
 ('강동구', '암사동', 422.0),
 ('강동구', '암사동', 440.0),
 ('강동구', '암사동', 441.0),
 ('강동구', '암사동', 442.0),
 ('강동구', '암사동', 445.0),
 ('강동구', '암사동', 446.0),
 ('강동구', '암사동', 447.0),
 ('강동구', '암사동', 449.0),
 ('강동구', '암사동', 450.0),
 ('강동구', '암사동', 453.0),
 ('강동구', '암사동', 454.0),
 ('강동구', '암사동', 459.0),
 ('강동구', '암사동', 461.0),
 ('강동구', '암사동', 463.0),
 ('강동구', '암사동', 466.0),
 ('강동구', '암사동', 472.0),
 ('강동구', '암사동', 474.0),
 ('강동구', '암사동', 485.0),
 ('강동구', '암사동', 487.0),
 ('강동구', '암사동', 488.0),
 ('강동구', '암사동', 492.0),
 ('강동구', '암사동', 493.0),
 ('강동구', '암사동', 497.0),
 ('강동구', '암사동', 501.0),
 ('강동구', '암사동', 503.0),
 ('강동구', '암사동', 504.0),
 ('강동구', '암사동', 508.0),
 ('강동구', '암사동', 509.0),
 ('강동구', '암사동', 510.0),
 ('강동구', '암사동', 513.0),
 ('강동구', '암사동', 516.0),
 ('강동구', '암사동', 518.0),
 ('강동구', '암사동', 670.0),
 ('강동구', '암사동', 671.0),
 ('강동구', '암사동', 672.0),
 ('강동구', '암사동', 675.0),
 ('강동구', '천호동', 19.0),
 ('강동구', '천호동', 22.0),
 ('강동구', '천호동', 26.0),
 ('강동구', '천호동', 27.0),
 ('강동구', '천호동', 28.0),
 ('강동구', '천호동', 32.0),
 ('강동구', '천호동', 33.0),
 ('강동구', '천호동', 34.0),
 ('강동구', '천호동', 35.0),
 ('강동구', '천호동', 36.0),
 ('강동구', '천호동', 37.0),
 ('강동구', '천호동', 39.0),
 ('강동구', '천호동', 40.0),
 ('강동구', '천호동', 44.0),
 ('강동구', '천호동', 46.0),
 ('강동구', '천호동', 47.0),
 ('강동구', '천호동', 49.0),
 ('강동구', '천호동', 50.0),
 ('강동구', '천호동', 52.0),
 ('강동구', '천호동', 53.0),
 ('강동구', '천호동', 54.0),
 ('강동구', '천호동', 55.0),
 ('강동구', '천호동', 121.0),
 ('강동구', '천호동', 155.0),
 ('강동구', '천호동', 163.0),
 ('강동구', '천호동', 164.0),
 ('강동구', '천호동', 166.0),
 ('강동구', '천호동', 168.0),
 ('강동구', '천호동', 170.0),
 ('강동구', '천호동', 217.0),
 ('강동구', '천호동', 237.0),
 ('강동구', '천호동', 287.0),
 ('강동구', '천호동', 288.0),
 ('강동구', '천호동', 291.0),
 ('강동구', '천호동', 293.0),
 ('강동구', '천호동', 302.0),
 ('강동구', '천호동', 305.0),
 ('강동구', '천호동', 313.0),
 ('강동구', '천호동', 315.0),
 ('강동구', '천호동', 317.0),
 ('강동구', '천호동', 320.0),
 ('강동구', '천호동', 322.0),
 ('강동구', '천호동', 328.0),
 ('강동구', '천호동', 333.0),
 ('강동구', '천호동', 334.0),
 ('강동구', '천호동', 338.0),
 ('강동구', '천호동', 340.0),
 ('강동구', '천호동', 358.0),
 ('강동구', '천호동', 361.0),
 ('강동구', '천호동', 362.0),
 ('강동구', '천호동', 410.0),
 ('강동구', '천호동', 414.0),
 ('강동구', '천호동', 416.0),
 ('강동구', '천호동', 425.0),
 ('강동구', '천호동', 427.0),
 ('강동구', '천호동', 432.0),
 ('강동구', '천호동', 437.0),
 ('강동구', '천호동', 447.0),
 ('강동구', '천호동', 450.0),
 ('강동구', '천호동', 452.0),
 ('강동구', '천호동', 462.0),
 ('강동구', '천호동', 467.0),
 ('강동구', '천호동', 528.0),
 ('강동구', '천호동', 548.0),
 ('강동구', '천호동', 563.0),
 ('강동구', '천호동', 564.0),
 ('강동구', '천호동', 565.0),
 ('강동구', '천호동', 566.0),
 ('강동구', '천호동', 567.0),
 ('강동구', '천호동', 568.0),
 ('강동구', '천호동', 570.0),
 ('강동구', '천호동', 571.0),

In [12]:
address_1_list = list()
address_2_list = list()
address_3_list = list()
year_list = list()
month_list = list()
for address_kind in address_kind_list:
    # 연-월의 쌍이 총 144개 있음으로
    for i in range(144):
        address_1_list.append(address_kind[0])
        address_2_list.append(address_kind[1])
        address_3_list.append(address_kind[2])
        year_list.append(df_date_year_list[i])
        month_list.append(df_date_month_list[i])

In [13]:
# 기간내 모든 날짜들에 대한 데이터프레임 생성
df_every_day = pd.DataFrame({'address_1':address_1_list,
                            'address_2':address_2_list,
                            'address_3':address_3_list,
                            'year':year_list,
                            'month':month_list,},columns=['address_1','address_2','address_3','year','month'])
df_every_day

       address_1 address_2  address_3  year  month
0            강남구       개포동       12.0  2011      1
1            강남구       개포동       12.0  2011      2
2            강남구       개포동       12.0  2011      3
3            강남구       개포동       12.0  2011      4
4            강남구       개포동       12.0  2011      5
...          ...       ...        ...   ...    ...
993883       중랑구       신내동      831.0  2022      8
993884       중랑구       신내동      831.0  2022      9
993885       중랑구       신내동      831.0  2022     10
993886       중랑구       신내동      831.0  2022     11
993887       중랑구       신내동      831.0  2022     12

[993888 rows x 5 columns]

In [14]:
# 데이터를 병합
df_final_count = pd.merge(df_every_day, df_final_count, on=['address_1','address_2','address_3','year','month'], how='left')

In [15]:
df_final_count.head()

,address_1,address_2,address_3,year,month,deal_count,full_rent_count,month_rent_count
0,강남구,개포동,12.0,2011,1,16.0,38.0,7.0
1,강남구,개포동,12.0,2011,2,17.0,38.0,8.0
2,강남구,개포동,12.0,2011,3,8.0,46.0,16.0
3,강남구,개포동,12.0,2011,4,13.0,30.0,11.0
4,강남구,개포동,12.0,2011,5,7.0,21.0,8.0

In [16]:
df_final_count.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 993888 entries, 0 to 993887
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   address_1         993888 non-null  object
 1   address_2         993888 non-null  object
 2   address_3         993888 non-null  float64
 3   year              993888 non-null  int64
 4   month             993888 non-null  int64
 5   deal_count        495793 non-null  float64
 6   full_rent_count   495793 non-null  float64
 7   month_rent_count  495793 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 68.2+ MB

In [17]:
# 거래 결과 컬럼들이 null값들이 있는데, 그 달에 그 지역에 체결이 없었다는 뜻이므로 0으로 채워야 함
df_final_count.fillna(0,inplace=True)

In [18]:
df_final_count.info() # null 값들이 채워졌음을 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 993888 entries, 0 to 993887
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   address_1         993888 non-null  object
 1   address_2         993888 non-null  object
 2   address_3         993888 non-null  float64
 3   year              993888 non-null  int64
 4   month             993888 non-null  int64
 5   deal_count        993888 non-null  float64
 6   full_rent_count   993888 non-null  float64
 7   month_rent_count  993888 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 68.2+ MB

### 체결 달을 한 달 씩 미룸 - 체결결과는 다음달이 되어서야 알 수 있음으로

In [19]:
# 해당 부분이 addres_3가 바뀌는 부분
df_final_count.iloc[140:150]

,address_1,address_2,address_3,year,month,deal_count,full_rent_count,month_rent_count
140,강남구,개포동,12.0,2022,9,1.0,47.0,21.0
141,강남구,개포동,12.0,2022,10,2.0,38.0,26.0
142,강남구,개포동,12.0,2022,11,3.0,28.0,15.0
143,강남구,개포동,12.0,2022,12,3.0,30.0,24.0
144,강남구,개포동,138.0,2011,1,4.0,11.0,9.0
145,강남구,개포동,138.0,2011,2,2.0,14.0,4.0
146,강남구,개포동,138.0,2011,3,4.0,15.0,10.0
147,강남구,개포동,138.0,2011,4,2.0,7.0,9.0
148,강남구,개포동,138.0,2011,5,2.0,14.0,2.0
149,강남구,개포동,138.0,2011,6,2.0,5.0,5.0

In [20]:
# 한칸씩 미루기 위해서 마지막 달의 값을 null 값으로 생성
import numpy as np
df_final_count.loc[(df_final_count['year']==2022)&(df_final_count['month']==12),['deal_count','full_rent_count','month_rent_count']]=np.nan
df_final_count.iloc[140:150] # 지역이 바뀌는 지점의 값들이 null 값이 됨을 확인

,address_1,address_2,address_3,year,month,deal_count,full_rent_count,month_rent_count
140,강남구,개포동,12.0,2022,9,1.0,47.0,21.0
141,강남구,개포동,12.0,2022,10,2.0,38.0,26.0
142,강남구,개포동,12.0,2022,11,3.0,28.0,15.0
143,강남구,개포동,12.0,2022,12,NaN,NaN,NaN
144,강남구,개포동,138.0,2011,1,4.0,11.0,9.0
145,강남구,개포동,138.0,2011,2,2.0,14.0,4.0
146,강남구,개포동,138.0,2011,3,4.0,15.0,10.0
147,강남구,개포동,138.0,2011,4,2.0,7.0,9.0
148,강남구,개포동,138.0,2011,5,2.0,14.0,2.0
149,강남구,개포동,138.0,2011,6,2.0,5.0,5.0

In [21]:
# 체결 달만 1달씩 미룸
df_final_count[['last_month_deal_count','last_month_full_rent_count','last_month_month_rent_count']] = df_final_count[['deal_count','full_rent_count','month_rent_count']].shift(1)
df_final_count

,address_1,address_2,address_3,year,month,deal_count,full_rent_count,month_rent_count,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count
0,강남구,개포동,12.0,2011,1,16.0,38.0,7.0,NaN,NaN,NaN
1,강남구,개포동,12.0,2011,2,17.0,38.0,8.0,16.0,38.0,7.0
2,강남구,개포동,12.0,2011,3,8.0,46.0,16.0,17.0,38.0,8.0
3,강남구,개포동,12.0,2011,4,13.0,30.0,11.0,8.0,46.0,16.0
4,강남구,개포동,12.0,2011,5,7.0,21.0,8.0,13.0,30.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
993883,중랑구,신내동,831.0,2022,8,0.0,0.0,0.0,0.0,0.0,2.0
993884,중랑구,신내동,831.0,2022,9,0.0,0.0,0.0,0.0,0.0,0.0
993885,중랑구,신내동,831.0,2022,10,0.0,0.0,1.0,0.0,0.0,0.0
993886,중랑구,신내동,831.0,2022,11,0.0,0.0,97.0,0.0,0.0,1.0
993887,중랑구,신내동,831.0,2022,12,NaN,NaN,NaN,0.0,0.0,97.0

In [22]:
# 이전 컬럼 제거
df_final_count.drop(["deal_count", "full_rent_count","month_rent_count"], axis=1,inplace=True)

In [23]:
df_final_count.iloc[140:150] # 칸들이 잘 미뤄줬음을 확인

,address_1,address_2,address_3,year,month,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count
140,강남구,개포동,12.0,2022,9,3.0,44.0,17.0
141,강남구,개포동,12.0,2022,10,1.0,47.0,21.0
142,강남구,개포동,12.0,2022,11,2.0,38.0,26.0
143,강남구,개포동,12.0,2022,12,3.0,28.0,15.0
144,강남구,개포동,138.0,2011,1,NaN,NaN,NaN
145,강남구,개포동,138.0,2011,2,4.0,11.0,9.0
146,강남구,개포동,138.0,2011,3,2.0,14.0,4.0
147,강남구,개포동,138.0,2011,4,4.0,15.0,10.0
148,강남구,개포동,138.0,2011,5,2.0,7.0,9.0
149,강남구,개포동,138.0,2011,6,2.0,14.0,2.0

### 새로운 컬럼들을 생성

In [25]:
df_final_count2 = df_final_count.copy()
# 1개월 전 수치들을 구함
df_final_count2['deal_count_1m_before'] = df_final_count2['last_month_deal_count']
df_final_count2['full_rent_count_1m_before'] = df_final_count2['last_month_full_rent_count']
df_final_count2['month_rent_count_1m_before'] = df_final_count2['last_month_month_rent_count']
df_final_count2.loc[(df_final_count2['year']==2022)&(df_final_count2['month']==12),
                    ['deal_count_1m_before','full_rent_count_1m_before',
                     'month_rent_count_1m_before']]=np.nan
df_final_count2[['deal_count_1m_before','full_rent_count_1m_before',
                 'month_rent_count_1m_before']] = df_final_count2[['deal_count_1m_before',
                 'full_rent_count_1m_before','month_rent_count_1m_before']].shift(1)

# 3개월 전 수치들을 구함
df_final_count2['deal_count_3m_before'] = df_final_count2['last_month_deal_count']
df_final_count2['full_rent_count_3m_before'] = df_final_count2['last_month_full_rent_count']
df_final_count2['month_rent_count_3m_before'] = df_final_count2['last_month_month_rent_count']
for i in range(3):
    number=12-i
    df_final_count2.loc[(df_final_count2['year']==2022)&(df_final_count2['month']==number),
                        ['deal_count_3m_before','full_rent_count_3m_before',
                         'month_rent_count_3m_before']]=np.nan
df_final_count2[['deal_count_3m_before','full_rent_count_3m_before',
                 'month_rent_count_3m_before']] = df_final_count2[['deal_count_3m_before',
                 'full_rent_count_3m_before','month_rent_count_3m_before']].shift(3)

# 6개월 전 수치들을 구함
df_final_count2['deal_count_6m_before'] = df_final_count2['last_month_deal_count']
df_final_count2['full_rent_count_6m_before'] = df_final_count2['last_month_full_rent_count']
df_final_count2['month_rent_count_6m_before'] = df_final_count2['last_month_month_rent_count']
for i in range(6):
    number=12-i
    df_final_count2.loc[(df_final_count2['year']==2022)&(df_final_count2['month']==number),
                        ['deal_count_6m_before','full_rent_count_6m_before',
                         'month_rent_count_6m_before']]=np.nan
df_final_count2[['deal_count_6m_before','full_rent_count_6m_before',
                 'month_rent_count_6m_before']] = df_final_count2[['deal_count_6m_before',
                 'full_rent_count_6m_before','month_rent_count_6m_before']].shift(6)

# 12개월 전 수치들을 구함
df_final_count2['deal_count_12m_before'] = df_final_count2['last_month_deal_count']
df_final_count2['full_rent_count_12m_before'] = df_final_count2['last_month_full_rent_count']
df_final_count2['month_rent_count_12m_before'] = df_final_count2['last_month_month_rent_count']
df_final_count2.loc[(df_final_count2['year']==2022), ['deal_count_12m_before',
              'full_rent_count_12m_before','month_rent_count_12m_before']]=np.nan
df_final_count2[['deal_count_12m_before','full_rent_count_12m_before',
                 'month_rent_count_12m_before']] = df_final_count2[['deal_count_12m_before',
                 'full_rent_count_12m_before','month_rent_count_12m_before']].shift(12)

In [26]:
df_final_count2.head(30) # 컬럼들이 생성됨을 확인

,address_1,address_2,address_3,year,month,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count,deal_count_1m_before,full_rent_count_1m_before,month_rent_count_1m_before,deal_count_3m_before,full_rent_count_3m_before,month_rent_count_3m_before,deal_count_6m_before,full_rent_count_6m_before,month_rent_count_6m_before,deal_count_12m_before,full_rent_count_12m_before,month_rent_count_12m_before
0,강남구,개포동,12.0,2011,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,강남구,개포동,12.0,2011,2,16.0,38.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강남구,개포동,12.0,2011,3,17.0,38.0,8.0,16.0,38.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,강남구,개포동,12.0,2011,4,8.0,46.0,16.0,17.0,38.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,강남구,개포동,12.0,2011,5,13.0,30.0,11.0,8.0,46.0,16.0,16.0,38.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
5,강남구,개포동,12.0,2011,6,7.0,21.0,8.0,13.0,30.0,11.0,17.0,38.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
6,강남구,개포동,12.0,2011,7,8.0,41.0,14.0,7.0,21.0,8.0,8.0,46.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
7,강남구,개포동,12.0,2011,8,4.0,33.0,13.0,8.0,41.0,14.0,13.0,30.0,11.0,16.0,38.0,7.0,NaN,NaN,NaN
8,강남구,개포동,12.0,2011,9,8.0,29.0,9.0,4.0,33.0,13.0,7.0,21.0,8.0,17.0,38.0,8.0,NaN,NaN,NaN
9,강남구,개포동,12.0,2011,10,8.0,28.0,13.0,8.0,29.0,9.0,8.0,41.0,14.0,8.0,46.0,16.0,NaN,NaN,NaN
10,강남구,개포동,12.0,2011,11,8.0,40.0,14.0,8.0,28.0,13.0,4.0,33.0,13.0,13.0,30.0,11.0,NaN,NaN,NaN
11,강남구,개포동,12.0,2011,12,4.0,36.0,5.0,8.0,40.0,14.0,8.0,29.0,9.0,7.0,21.0,8.0,NaN,NaN,NaN
12,강남구,개포동,12.0,2012,1,9.0,32.0,9.0,4.0,36.0,5.0,8.0,28.0,13.0,8.0,41.0,14.0,NaN,NaN,NaN
13,강남구,개포동,12.0,2012,2,7.0,33.0,9.0,9.0,32.0,9.0,8.0,40.0,14.0,4.0,33.0,13.0,16.0,38.0,7.0
14,강남구,개포동,12.0,2012,3,7.0,42.0,9.0,7.0,33.0,9.0,4.0,36.0,5.0,8.0,29.0,9.0,17.0,38.0,8.0
15,강남구,개포동,12.0,2012,4,5.0,49.0,9.0,7.0,42.0,9.0,9.0,32.0,9.0,8.0,28.0,13.0,8.0,46.0,16.0
16,강남구,개포동,12.0,2012,5,1.0,35.0,12.0,5.0,49.0,9.0,7.0,33.0,9.0,8.0,40.0,14.0,13.0,30.0,11.0
17,강남구,개포동,12.0,2012,6,6.0,26.0,8.0,1.0,35.0,12.0,7.0,42.0,9.0,4.0,36.0,5.0,7.0,21.0,8.0
18,강남구,개포동,12.0,2012,7,5.0,28.0,8.0,6.0,26.0,8.0,5.0,49.0,9.0,9.0,32.0,9.0,8.0,41.0,14.0
19,강남구,개포동,12.0,2012,8,3.0,26.0,10.0,5.0,28.0,8.0,1.0,35.0,12.0,7.0,33.0,9.0,4.0,33.0,13.0
20,강남구,개포동,12.0,2012,9,5.0,38.0,8.0,3.0,26.0,10.0,6.0,26.0,8.0,7.0,42.0,9.0,8.0,29.0,9.0
21,강남구,개포동,12.0,2012,10,8.0,32.0,8.0,5.0,38.0,8.0,5.0,28.0,8.0,5.0,49.0,9.0,8.0,28.0,13.0
22,강남구,개포동,12.0,2012,11,10.0,49.0,9.0,8.0,32.0,8.0,3.0,26.0,10.0,1.0,35.0,12.0,8.0,40.0,14.0
23,강남구,개포동,12.0,2012,12,11.0,33.0,5.0,10.0,49.0,9.0,5.0,38.0,8.0,6.0,26.0,8.0,4.0,36.0,5.0
24,강남구,개포동,12.0,2013,1,12.0,31.0,9.0,11.0,33.0,5.0,8.0,32.0,8.0,5.0,28.0,8.0,9.0,32.0,9.0
25,강남구,개포동,12.0,2013,2,7.0,40.0,14.0,12.0,31.0,9.0,10.0,49.0,9.0,3.0,26.0,10.0,7.0,33.0,9.0
26,강남구,개포동,12.0,2013,3,15.0,43.0,12.0,7.0,40.0,14.0,11.0,33.0,5.0,5.0,38.0,8.0,7.0,42.0,9.0
27,강남구,개포동,12.0,2013,4,18.0,34.0,15.0,15.0,43.0,12.0,12.0,31.0,9.0,8.0,32.0,8.0,5.0,49.0,9.0
28,강남구,개포동,12.0,2013,5,21.0,41.0,14.0,18.0,34.0,15.0,7.0,40.0,14.0,10.0,49.0,9.0,1.0,35.0,12.0
29,강남구,개포동,12.0,2013,6,13.0,35.0,11.0,21.0,41.0,14.0,15.0,43.0,12.0,11.0,33.0,5.0,6.0,26.0,8.0

In [27]:
# 결측치가 있는 row들을  제거
df_final_count2.dropna(inplace=True)

In [28]:
df_final_count2

,address_1,address_2,address_3,year,month,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count,deal_count_1m_before,full_rent_count_1m_before,month_rent_count_1m_before,deal_count_3m_before,full_rent_count_3m_before,month_rent_count_3m_before,deal_count_6m_before,full_rent_count_6m_before,month_rent_count_6m_before,deal_count_12m_before,full_rent_count_12m_before,month_rent_count_12m_before
13,강남구,개포동,12.0,2012,2,7.0,33.0,9.0,9.0,32.0,9.0,8.0,40.0,14.0,4.0,33.0,13.0,16.0,38.0,7.0
14,강남구,개포동,12.0,2012,3,7.0,42.0,9.0,7.0,33.0,9.0,4.0,36.0,5.0,8.0,29.0,9.0,17.0,38.0,8.0
15,강남구,개포동,12.0,2012,4,5.0,49.0,9.0,7.0,42.0,9.0,9.0,32.0,9.0,8.0,28.0,13.0,8.0,46.0,16.0
16,강남구,개포동,12.0,2012,5,1.0,35.0,12.0,5.0,49.0,9.0,7.0,33.0,9.0,8.0,40.0,14.0,13.0,30.0,11.0
17,강남구,개포동,12.0,2012,6,6.0,26.0,8.0,1.0,35.0,12.0,7.0,42.0,9.0,4.0,36.0,5.0,7.0,21.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993883,중랑구,신내동,831.0,2022,8,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0
993884,중랑구,신내동,831.0,2022,9,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,5.0,0.0,0.0,17.0,0.0,0.0,15.0
993885,중랑구,신내동,831.0,2022,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,17.0,0.0,0.0,0.0
993886,중랑구,신내동,831.0,2022,11,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,2.0
993887,중랑구,신내동,831.0,2022,12,0.0,0.0,97.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,5.0

### 변화개수들을 구함

In [29]:
# 변화개수 = 현재개수 = 과거개수
df_final_count2['deal_count_1m_before'] = df_final_count2['last_month_deal_count']-df_final_count2['deal_count_1m_before']
df_final_count2['full_rent_count_1m_before'] = df_final_count2['last_month_full_rent_count']-df_final_count2['full_rent_count_1m_before']
df_final_count2['month_rent_count_1m_before'] = df_final_count2['last_month_month_rent_count']-df_final_count2['month_rent_count_1m_before']

df_final_count2['deal_count_3m_before'] = df_final_count2['last_month_deal_count']-df_final_count2['deal_count_3m_before']
df_final_count2['full_rent_count_3m_before'] = df_final_count2['last_month_full_rent_count']-df_final_count2['full_rent_count_3m_before']
df_final_count2['month_rent_count_3m_before'] = df_final_count2['last_month_month_rent_count']-df_final_count2['month_rent_count_3m_before']

df_final_count2['deal_count_6m_before'] = df_final_count2['last_month_deal_count']-df_final_count2['deal_count_6m_before']
df_final_count2['full_rent_count_6m_before'] = df_final_count2['last_month_full_rent_count']-df_final_count2['full_rent_count_6m_before']
df_final_count2['month_rent_count_6m_before'] = df_final_count2['last_month_month_rent_count']-df_final_count2['month_rent_count_6m_before']

df_final_count2['deal_count_12m_before'] = df_final_count2['last_month_deal_count']-df_final_count2['deal_count_12m_before']
df_final_count2['full_rent_count_12m_before'] = df_final_count2['last_month_full_rent_count']-df_final_count2['full_rent_count_12m_before']
df_final_count2['month_rent_count_12m_before'] = df_final_count2['last_month_month_rent_count']-df_final_count2['month_rent_count_12m_before']

In [30]:
df_final_count2 # 계산할때 0값들이 있어서 null 이 됨을 확인

,address_1,address_2,address_3,year,month,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count,deal_count_1m_before,full_rent_count_1m_before,month_rent_count_1m_before,deal_count_3m_before,full_rent_count_3m_before,month_rent_count_3m_before,deal_count_6m_before,full_rent_count_6m_before,month_rent_count_6m_before,deal_count_12m_before,full_rent_count_12m_before,month_rent_count_12m_before
13,강남구,개포동,12.0,2012,2,7.0,33.0,9.0,-2.0,1.0,0.0,-1.0,-7.0,-5.0,3.0,0.0,-4.0,-9.0,-5.0,2.0
14,강남구,개포동,12.0,2012,3,7.0,42.0,9.0,0.0,9.0,0.0,3.0,6.0,4.0,-1.0,13.0,0.0,-10.0,4.0,1.0
15,강남구,개포동,12.0,2012,4,5.0,49.0,9.0,-2.0,7.0,0.0,-4.0,17.0,0.0,-3.0,21.0,-4.0,-3.0,3.0,-7.0
16,강남구,개포동,12.0,2012,5,1.0,35.0,12.0,-4.0,-14.0,3.0,-6.0,2.0,3.0,-7.0,-5.0,-2.0,-12.0,5.0,1.0
17,강남구,개포동,12.0,2012,6,6.0,26.0,8.0,5.0,-9.0,-4.0,-1.0,-16.0,-1.0,2.0,-10.0,3.0,-1.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993883,중랑구,신내동,831.0,2022,8,0.0,0.0,2.0,0.0,0.0,-1.0,0.0,0.0,-1.0,0.0,0.0,-1.0,0.0,0.0,2.0
993884,중랑구,신내동,831.0,2022,9,0.0,0.0,0.0,0.0,0.0,-2.0,0.0,0.0,-5.0,0.0,0.0,-17.0,0.0,0.0,-15.0
993885,중랑구,신내동,831.0,2022,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.0,0.0,-17.0,0.0,0.0,0.0
993886,중랑구,신내동,831.0,2022,11,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,-1.0,0.0,0.0,-2.0,0.0,0.0,-1.0
993887,중랑구,신내동,831.0,2022,12,0.0,0.0,97.0,0.0,0.0,96.0,0.0,0.0,97.0,0.0,0.0,92.0,0.0,0.0,92.0

In [31]:
df_final_count2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904162 entries, 13 to 993887
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   address_1                    904162 non-null  object
 1   address_2                    904162 non-null  object
 2   address_3                    904162 non-null  float64
 3   year                         904162 non-null  int64
 4   month                        904162 non-null  int64
 5   last_month_deal_count        904162 non-null  float64
 6   last_month_full_rent_count   904162 non-null  float64
 7   last_month_month_rent_count  904162 non-null  float64
 8   deal_count_1m_before         904162 non-null  float64
 9   full_rent_count_1m_before    904162 non-null  float64
 10  month_rent_count_1m_before   904162 non-null  float64
 11  deal_count_3m_before         904162 non-null  float64
 12  full_rent_count_3m_before    904162 non-null  float64
 13  month_rent_count_3m_before   904162 non-null  float64
 14  deal_count_6m_before         904162 non-null  float64
 15  full_rent_count_6m_before    904162 non-null  float64
 16  month_rent_count_6m_before   904162 non-null  float64
 17  deal_count_12m_before        904162 non-null  float64
 18  full_rent_count_12m_before   904162 non-null  float64
 19  month_rent_count_12m_before  904162 non-null  float64
dtypes: float64(16), int64(2), object(2)
memory usage: 144.9+ MB

In [32]:
df_final_count2 = df_final_count2.astype({'address_3':'int16','year': 'int16', 'month':'int16', 'month':'int16',
                                         'last_month_deal_count':'int16','last_month_full_rent_count':'int16', 'last_month_month_rent_count':'int16',
                                         'deal_count_1m_before':'int16', 'full_rent_count_1m_before':'int16', 'month_rent_count_1m_before':'int16',
                                         'deal_count_3m_before':'int16', 'full_rent_count_3m_before':'int16', 'month_rent_count_3m_before':'int16',
                                         'deal_count_6m_before':'int16', 'full_rent_count_6m_before':'int16', 'month_rent_count_6m_before':'int16',
                                         'deal_count_12m_before':'int16', 'full_rent_count_12m_before':'int16', 'month_rent_count_12m_before':'int16'})

In [33]:
df_final_count2.head()

,address_1,address_2,address_3,year,month,last_month_deal_count,last_month_full_rent_count,last_month_month_rent_count,deal_count_1m_before,full_rent_count_1m_before,month_rent_count_1m_before,deal_count_3m_before,full_rent_count_3m_before,month_rent_count_3m_before,deal_count_6m_before,full_rent_count_6m_before,month_rent_count_6m_before,deal_count_12m_before,full_rent_count_12m_before,month_rent_count_12m_before
13,강남구,개포동,12,2012,2,7,33,9,-2,1,0,-1,-7,-5,3,0,-4,-9,-5,2
14,강남구,개포동,12,2012,3,7,42,9,0,9,0,3,6,4,-1,13,0,-10,4,1
15,강남구,개포동,12,2012,4,5,49,9,-2,7,0,-4,17,0,-3,21,-4,-3,3,-7
16,강남구,개포동,12,2012,5,1,35,12,-4,-14,3,-6,2,3,-7,-5,-2,-12,5,1
17,강남구,개포동,12,2012,6,6,26,8,5,-9,-4,-1,-16,-1,2,-10,3,-1,5,0

In [34]:
df_final_count2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 904162 entries, 13 to 993887
Data columns (total 20 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   address_1                    904162 non-null  object
 1   address_2                    904162 non-null  object
 2   address_3                    904162 non-null  int16
 3   year                         904162 non-null  int16
 4   month                        904162 non-null  int16
 5   last_month_deal_count        904162 non-null  int16
 6   last_month_full_rent_count   904162 non-null  int16
 7   last_month_month_rent_count  904162 non-null  int16
 8   deal_count_1m_before         904162 non-null  int16
 9   full_rent_count_1m_before    904162 non-null  int16
 10  month_rent_count_1m_before   904162 non-null  int16
 11  deal_count_3m_before         904162 non-null  int16
 12  full_rent_count_3m_before    904162 non-null  int16
 13  month_rent_count_3m_before   904162 non-null  int16
 14  deal_count_6m_before         904162 non-null  int16
 15  full_rent_count_6m_before    904162 non-null  int16
 16  month_rent_count_6m_before   904162 non-null  int16
 17  deal_count_12m_before        904162 non-null  int16
 18  full_rent_count_12m_before   904162 non-null  int16
 19  month_rent_count_12m_before  904162 non-null  int16
dtypes: int16(18), object(2)
memory usage: 51.7+ MB

In [35]:
df_final_count2.to_pickle('dataset\\after_data\\month_region_count.pkl')

# 아파트 거래 csv 파일 들 통합

## 아파트 매매

In [2]:
dir_path = "dataset\\after_data\\final_deal_price"
file_list = os.listdir(dir_path)

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for i,csv_file in enumerate(file_list):
    if i == 0:
        final_deal = pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')
    else:
        final_deal = pd.concat([final_deal, pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')], axis=0)
final_deal.reset_index(drop=True, inplace=True)

In [5]:
final_deal.tail()

,year,month,day,address_1,address_2,address_3,address_4,deal_price
38833375,2022,12,31,중랑구,중화동,438,0,69500
38833376,2022,12,31,중랑구,중화동,450,0,91500
38833377,2022,12,31,중랑구,중화동,452,0,55000
38833378,2022,12,31,중랑구,중화동,453,0,85500
38833379,2022,12,31,중랑구,중화동,454,0,96000

In [6]:
final_deal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38833380 entries, 0 to 38833379
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int64
 1   month       int64
 2   day         int64
 3   address_1   object
 4   address_2   object
 5   address_3   int64
 6   address_4   int64
 7   deal_price  int64
dtypes: int64(6), object(2)
memory usage: 2.3+ GB

In [7]:
# 용량을 줄이기 위해서 타입을 변경
final_deal=final_deal.astype({'year': 'int16','month': 'int16','day': 'int16','address_3': 'int16','address_4': 'int16','deal_price': 'int32'})

In [10]:
final_deal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38833380 entries, 0 to 38833379
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   year        int16
 1   month       int16
 2   day         int16
 3   address_1   object
 4   address_2   object
 5   address_3   int16
 6   address_4   int16
 7   deal_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.1+ GB

In [11]:
# 파일로 저장
final_deal.to_pickle('dataset\\after_data\\final_deal.pkl')

## 아파트 전세

In [3]:
dir_path = "dataset\\after_data\\final_full_rent"
file_list = os.listdir(dir_path)

for i,csv_file in enumerate(file_list):
    if i == 0:
        final_full_rent = pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')
    else:
        final_full_rent = pd.concat([final_full_rent, pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')], axis=0)
final_full_rent.reset_index(drop=True, inplace=True)

In [4]:
final_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40577814 entries, 0 to 40577813
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int64
 1   month            int64
 2   day              int64
 3   address_1        object
 4   address_2        object
 5   address_3        int64
 6   address_4        int64
 7   full_rent_price  int64
dtypes: int64(6), object(2)
memory usage: 2.4+ GB

In [6]:
final_full_rent = final_full_rent.astype({'year': 'int16','month': 'int16','day': 'int16','address_3': 'int16','address_4': 'int16','full_rent_price': 'int32'})
final_full_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40577814 entries, 0 to 40577813
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   full_rent_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.1+ GB

In [7]:
# 파일로 저장
final_full_rent.to_pickle('dataset\\after_data\\final_full_rent.pkl')

## 아파트 연세

In [2]:
dir_path = "dataset\\after_data\\final_month_rent"
file_list = os.listdir(dir_path)

# 해당 폴더 안에 있는 csv 파일들을 읽어서 리스트 안에 데이터프레임들을 담음
for i,csv_file in enumerate(file_list):
    if i == 0:
        final_year_rent = pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')
    else:
        final_year_rent = pd.concat([final_year_rent, pd.read_csv(dir_path+"\\"+csv_file ,encoding='utf-8')], axis=0)
final_year_rent.reset_index(drop=True, inplace=True)

In [3]:
final_year_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36633114 entries, 0 to 36633113
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int64
 1   month            int64
 2   day              int64
 3   address_1        object
 4   address_2        object
 5   address_3        int64
 6   address_4        int64
 7   year_rent_price  int64
dtypes: int64(6), object(2)
memory usage: 2.2+ GB

In [5]:
final_year_rent = final_year_rent.astype({'year': 'int16','month': 'int16','day': 'int16','address_3': 'int16','address_4': 'int16','year_rent_price': 'int32'})
final_year_rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36633114 entries, 0 to 36633113
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   year             int16
 1   month            int16
 2   day              int16
 3   address_1        object
 4   address_2        object
 5   address_3        int16
 6   address_4        int16
 7   year_rent_price  int32
dtypes: int16(5), int32(1), object(2)
memory usage: 1.0+ GB

In [6]:
# 파일로 저장
final_year_rent.to_pickle('dataset\\after_data\\final_year_rent.pkl')