In [9]:
import pandas as pd

df_real_estate = pd.read_csv("dataset\\seoul_deal_index.csv",  encoding='UTF8') # 부동산 지수 불러오기
df_real_estate= df_real_estate.loc[(df_real_estate['시점']>1998) & (df_real_estate['자치구별(2)']=='소계'),['시점','아파트']]# 데이터프레임만 거르기
df_real_estate['시점'] = pd.to_datetime(df_real_estate['시점'], format='%Y') # 연도만을 datetime형식으로 변환
df_real_estate.head()

           시점   아파트
39 1999-01-01  38.7
42 2000-01-01  40.3
45 2001-01-01  48.1
48 2002-01-01  62.9
51 2003-01-01  61.2

In [10]:
df_real_estate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 39 to 519
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시점      23 non-null     datetime64[ns]
 1   아파트     23 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 552.0 bytes

In [11]:
df_real_estate.columns = ['real_estate_date','real_estate_value']
df_real_estate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 39 to 519
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   real_estate_date   23 non-null     datetime64[ns]
 1   real_estate_value  23 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 552.0 bytes

In [12]:
df_kospi = pd.read_csv("dataset\\kospi.csv",  encoding='UTF8') # 코스피 지수 불러오기
df_kospi.head()

             날짜        종가        오픈        고가        저가      거래량    변동 %
0  2022- 12- 29  2,236.40  2,265.73  2,272.67  2,236.38  361.19M  -1.93%
1  2022- 12- 28  2,280.45  2,296.45  2,296.45  2,276.90  405.89M  -2.24%
2  2022- 12- 27  2,332.79  2,327.52  2,335.99  2,321.48  448.50M   0.68%
3  2022- 12- 26  2,317.14  2,312.54  2,321.92  2,304.20  427.84M   0.15%
4  2022- 12- 23  2,313.69  2,325.86  2,333.08  2,311.90  366.99M  -1.83%

In [13]:
df_kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3956 non-null   object
 1   종가      3956 non-null   object
 2   오픈      3956 non-null   object
 3   고가      3956 non-null   object
 4   저가      3956 non-null   object
 5   거래량     3956 non-null   object
 6   변동 %    3956 non-null   object
dtypes: object(7)
memory usage: 216.5+ KB

In [14]:
df_kospi = df_kospi[['날짜','종가','거래량']]
df_kospi.columns = ['kospi_date','kospi_value','kospi_deal_amount']
df_kospi['kospi_date'] = pd.to_datetime(df_kospi['kospi_date'])
df_kospi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   kospi_date         3956 non-null   datetime64[ns]
 1   kospi_value        3956 non-null   object
 2   kospi_deal_amount  3956 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 92.8+ KB

In [15]:
df_final=pd.merge(df_kospi, df_real_estate, left_on='kospi_date', right_on='real_estate_date', how='left')
df_final.head()

  kospi_date kospi_value kospi_deal_amount real_estate_date  real_estate_value
0 2022-12-29    2,236.40           361.19M              NaT                NaN
1 2022-12-28    2,280.45           405.89M              NaT                NaN
2 2022-12-27    2,332.79           448.50M              NaT                NaN
3 2022-12-26    2,317.14           427.84M              NaT                NaN
4 2022-12-23    2,313.69           366.99M              NaT                NaN

In [17]:
df_final=df_final.bfill(axis='rows')
df_final.head()

  kospi_date kospi_value kospi_deal_amount real_estate_date  real_estate_value
0 2022-12-29    2,236.40           361.19M              NaT                NaN
1 2022-12-28    2,280.45           405.89M              NaT                NaN
2 2022-12-27    2,332.79           448.50M              NaT                NaN
3 2022-12-26    2,317.14           427.84M              NaT                NaN
4 2022-12-23    2,313.69           366.99M              NaT                NaN